body {
  font-size: 12px;
  overflow-y: scroll;
  font-family: 'Open Sans Light';
 /*-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;*/
}
#page-wrapper, body { position: relative; }
.d-table { display: table; }
.d-tbcell { display: table-cell; }
.v-middle { vertical-align: middle; }
.full-width { width: 100%; }
.adminContent, .adminContent1 {
  padding: 10px 25px;
  border: 1px solid #d4d4d4;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
  min-height: 500px;
}
body .adminContent1 { min-height: 200px !important; }
.modal-open, body { padding-right: 0px !important; }
.modal-open header { padding-right: 15px; }
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.m-top { margin-top: 5px; }
.headerTop {
  background: #800000;
  padding: 2px;
  font-size: 10px;
}
.text-decnone, .text-decnone:hover, .text-decnone:focus { text-decoration: none !important; }
@font-face {
  font-family: 'Samarkan';
  src:url('../fonts/Font/SAMARN_.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src:url('../fonts/Font/open-sans.light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
.txt-centr{ text-align: center;}
.samarkan { font-family: 'Samarkan'; }
.modal-open[style="padding-right: 17px;"] .navbar-fixed-top,
.modal-open[style="padding-right: 17px;"] .navbar-fixed-bottom { padding-right: 17px; }
.color-fff { color: #fff !important; }
.color-theme { color: #800000; }
.color-theme1 { color: #006633; }
.color-text1 { color: #3f3f41; }
.color-green { color: green; }
.p-all { padding: 10px 15px; }
.m-right5 { margin-right: 5px; }
.m-tb10 { margin: 10px 0; }
.m-top20 { margin-top: 20px; }
.m-btm20 { margin-bottom: 20px; }
:focus { outline: 0 !important; }
.gap2 {
  margin: 0;
  padding-bottom: 25px;
}
.cursorPointer { cursor: pointer; }
a:hover, a:focus {
  cursor: pointer;
  text-decoration: none !important;
}
.btn, .btn:hover, .btn:focus {
  border-radius: 0 !important;
  margin-right: 8px;
}
.contentStart {
  padding: 20px;
}
.plans{
  left: 0px;
  right: 0px;
  margin: auto;
  display: table;
  margin-top: 20px;
}
.border-style12{
  margin-top: 20px;
  border: 1px solid #ccc;
  min-height: 205px;
}
.loginFormMain {
  border: 1px solid #ccc;
  padding: 20px 25px;
  background: rgba(255, 255, 255, 0.89);
  position: relative;
  -webkit-animation: mymove 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation: mymove 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: inset 0 0 10px #CCC;
  -webkit-box-shadow: inset 0 0 10px #CCC;
  -moz-box-shadow: inset 0 0 10px #CCC;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 60px;}
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 60px;}
}
.schemeMain .nav.nav-tabs {
  margin: auto;
  display: table;
}
.schemeSuccess {
  margin: 50px 0;
  text-align: center;
  color: #008000;
  font-size: 24px;
}
.schemeMain td {
  text-align: left !important;
  vertical-align: middle !important;
}
.schemeMain .tab-content {
  border: 1px solid rgba(204, 204, 204, 0.34);
  padding: 15px;
  margin-top: 5px;
  background: #f7f7f7;
  box-shadow: inset 0 0 8px #eaeaea;
}
.width30 { width: 30px !important; }
.width150 { width: 70px; }
.width160 { width: 160px; }
.width120 { width: 120px; }
.width20 { width: 20px; }
.width200 { width: 200px; }
.width50 { width: 50px; }
.schemForms input, .schemForms input, .loginFormMain input {
  width: 90%;
  margin: auto;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
  height: 34px;
}
.schemForms input, .schemForms select, .schemForms textarea, .loginFormMain input { width: 100%; }
label {
  font-size: 12px;
  font-weight: normal;
}
.schemForms select { height: 34px; }
.schemForms select, .schemForms textarea {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  padding-left: 10px;
}
.radioBtn {
  width: auto !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 15px !important;
}
#wrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
  text-align: left;
  white-space: initial;
}
.tableRepeatText {
  border-bottom: 5px solid transparent !important;
  border-top: 5px solid transparent !important;
}
.titleAdmin {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.titleAdmin a, .titleAdmin a:hover, .titleAdmin a:focus {
  color: #fff !important;
  font-size: 16px;
  padding: 1px !important;
  background-color: transparent !important;
}
.titleAdmin h5 { color: #fff; }
.nav.nav-list a { padding-left: 30px; }
/** schema management **/
/** data tables **/
body .table-responsive input, body .table-responsive select {
  height: 35px;
  padding-left: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
  box-shadow: inset 0 0 2px #ccc;
  border: 1px solid #ccc;
}
body .table-responsive select { width: 150px; }
body table.dataTable thead th, body table.dataTable thead td { border-bottom: 0; }
body table.dataTable tfoot th, body table.dataTable tfoot td { border-top: 0; }
body .table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
}
body .table-bordered>tbody>tr>td:last-of-type,
.table-bordered>tbody>tr>th:last-of-type,
.table-bordered>tfoot>tr>td:last-of-type,
.table-bordered>tfoot>tr>th:last-of-type,
.table-bordered>thead>tr>td:last-of-type,
.table-bordered>thead>tr>th:last-of-type
{ border-right: 0 !important; }
table.dataTable thead th, table.dataTable tfoot th {
  font-weight: bold;
  background: rgba(78, 78, 78, 0.75);
  color: #fff;
}
/** data tables **/
/** project word works **/
.projectMain { border: 1px solid #ccc !important; }
.projectTile {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: rgba(34, 34, 34, 0.09);
  color: #d9534f;
  font-size: 12px;
  font-weight: bold;
  word-spacing: 3px;
  letter-spacing: 1.2px;
}
.projectInner { padding: 20px; }
.projectName {
  color: brown;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
}
table.dataTable tbody th, table.dataTable tbody td { padding: 1px 5px; }
table.dataTable thead th, table.dataTable thead td { padding: 8px 5px; }
/** range **/
.range {
  display: table;
  position: relative;
  height: 34px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  cursor: pointer;
}
.range input[type="range"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  display: table-cell;
  width: 100%;
  background-color: #d2d0d0;
  height: 34px;
  cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 11px;
  height: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: rgb(153, 153, 153);
}
.range input[type="range"]::-moz-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 11px;
  height: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: rgb(153, 153, 153);
}
.range output {
  display: table-cell;
  padding: 3px 5px 2px;
  min-width: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(153, 153, 153);
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.range input[type="range"] { outline: none; }
.range.range-primary input[type="range"]::-webkit-slider-thumb { background-color: rgb(66, 139, 202); }
.range.range-primary input[type="range"]::-moz-slider-thumb { background-color: rgb(66, 139, 202); }
.range.range-primary output { background-color: rgb(66, 139, 202); }
.range.range-primary input[type="range"] { outline-color: rgb(66, 139, 202); }
.range.range-success input[type="range"]::-webkit-slider-thumb { background-color: rgb(92, 184, 92); }
.range.range-success input[type="range"]::-moz-slider-thumb { background-color: rgb(92, 184, 92); }
.range.range-success output { background-color: rgb(92, 184, 92); }
.range.range-success input[type="range"] { outline-color: rgb(92, 184, 92); }
.range.range-info input[type="range"]::-webkit-slider-thumb { background-color: rgb(91, 192, 222); }
.range.range-info input[type="range"]::-moz-slider-thumb { background-color: rgb(91, 192, 222); }
.range.range-info output { background-color: rgb(91, 192, 222); }
.range.range-info input[type="range"] { outline-color: rgb(91, 192, 222); }
.range.range-warning input[type="range"]::-webkit-slider-thumb { background-color: rgb(240, 173, 78); }
.range.range-warning input[type="range"]::-moz-slider-thumb { background-color: rgb(240, 173, 78); }
.range.range-warning output { background-color: rgb(240, 173, 78); }
.range.range-warning input[type="range"] { outline-color: rgb(240, 173, 78); }
.range.range-danger input[type="range"]::-webkit-slider-thumb { background-color: rgb(217, 83, 79); }
.range.range-danger input[type="range"]::-moz-slider-thumb { background-color: rgb(217, 83, 79); }
.range.range-danger output { background-color: rgb(217, 83, 79); }
.range.range-danger input[type="range"] { outline-color: rgb(217, 83, 79); }
/** range **/
/** project word works **/
#masterData .projectInner { background: #fbfbfb; }
#lodingImage { position: relative; }
#lodingImage img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: block;
  z-index: 9999;
}
.form-group { position: relative; }
body .dhtmlxcalendar_material.dhtmlxcalendar_in_input {
  z-index: 99999 !important;
  background: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  -moz-box-shadow: inset 0 0 10px #ccc;
}
/*.main-sidebar ::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}
.main-sidebar ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
.main-sidebar ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}*/
::-webkit-scrollbar { width: 12px; height: 10px;}
::-webkit-scrollbar-button {  background-color: #999; }
::-webkit-scrollbar-track {  background-color: #666;}
::-webkit-scrollbar-track-piece { background-color: #3c8dbc;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #666;}
/*::-webkit-resizer { background-color: #666;}*/
.headerSchemes .panel.panel-primary {
  width: 100%;
  display: table;
}
.headerSchemes .panel-heading {
  width: 100%;
  display: inline-table;
}
body table > td > table .dataTables_wrapper .dataTables_length, body table > td > table .dataTables_filter { display: none !important; }

/* Styles go here */

.custom-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  width: 220px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-select.small {
  width: 104px;
}
.custom-select.medium {
  width: 164px;
}
.custom-select.large {
  width: 300px;
}
.custom-select.xlarge {
  width: 380px;
}
.custom-select > select {
  display: none !important;
}
.custom-select > a.dropdown-toggle {
  border-radius: 0;
  line-height: 28px;
  box-shadow: none;
  background: #ffffff;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  border: 1px solid #aaa;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  color: #888;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}
.custom-select > a.dropdown-toggle.disabled,
.custom-select > a.dropdown-toggle.disabled:hover {
  cursor: not-allowed;
  color: #aaa;
  background: #eee;
}
.custom-select > a.dropdown-toggle:hover,
.custom-select.open > a.dropdown-toggle {
  color: #333;
}
.custom-select.open > a.dropdown-toggle {
  border-bottom: 0;
  line-height: 29px;
}
.control-group.error .custom-select > a.dropdown-toggle {
  border-color: #f09784;
  color: #d68273;
}
.custom-select > a.dropdown-toggle > span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-select > a.dropdown-toggle > b {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.custom-select > a.dropdown-toggle > b:before {
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  position: relative;
  top: -1px;
  left: 1px;
}
.custom-select.open > a.dropdown-toggle > b:before {
  content: "\f0d8";
}
.custom-select > .dropdown-menu {
  margin-top: 0;
  border-color: #aaa;
  border-top: 0;
  padding-bottom: 0;
  width: auto;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
}
.custom-select > .dropdown-menu > .custom-select-search > input {
  width: 100%;
  height: 30px;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 5px;
  border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search:after {
  content: "\f002";
  display: inline-block;
  color: #888;
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 10px;
}
.custom-select > .dropdown-menu > ul {
  border-color: #aaa;
  border-top: 0;
  margin: 4px 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  padding-right: 14px;
}
.custom-select > .dropdown-menu > ul > li > a {
  font-size: 13px;
  margin-bottom: 1px;
  margin-top: 1px;
  display: block;
  padding: 3px 8px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  cursor: pointer;
  width: 100%;
}
.custom-select > .dropdown-menu > ul > li > a:hover,
.custom-select > .dropdown-menu > ul > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-repeat: repeat-x;
}
.custom-select > .dropdown-menu > ul > li > a:hover {
  background: #4f99c6;
}
.custom-select > .dropdown-menu > ul > li > a:focus {
  background: #2283c5;
}
.custom-select > .dropdown-menu > ul > li.empty-result > em {
  text-align: center;
  padding: 4px 8px;
  display: block;
}
.custom-select > .dropdown-menu > .custom-select-action > button {
  border-radius: 0;
  background-image: none;
}
.addScheme .btn, .addScheme a { font-size: 12px; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  padding: 0.5em 1em;
}

.addSpare{
  padding: 10px;
  background-color: #e4e4e4;
  font-weight: bold;
  width: 175px;
}

.caobj{
  /*padding: 10px;*/
  background-color: #e4e4e4;
  font-weight: bold;
  width: 175px;
}

.kps{
  /*padding: 10px;*/
  background-color: #e4e4e4;
  font-weight: bold;
  width: 175px;
}

.radioBtn {
  width: auto !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 15px !important;
}
.commentMain {
  border: 1px solid #ccc;
}
.commentName {
  background: #ccc;
  color: #fff;
  padding: 8px;
  widht: 100%;
  display: block;
}
.schemeMain .collapse.in { border-top: 0 !important; }

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.modal{ text-align: center; }
.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
body .breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 0px;
}
.breadcrumbArea {
  padding: 15px 10px 2px;
  list-style: none;
  /*background-color: rgba(4, 4, 4, 0.12);*/
  border-radius: 0;
  /*border-bottom: 1px solid rgba(204, 204, 204, 0.33);
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;

  -moz-box-shadow: 0 0 5px #ccc;
}

.dmcclr{color: #2196F3;}

  -moz-box-shadow: 0 0 5px #ccc;*/
}
.backbtnArea {
  color: #fff;
  position: fixed;
  right: 40px;
  z-index: 999;
}
#content { width: 75px }
.aside {
  line-height: 25px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.aside:hover { color: #fff; }
.aside.arrow { background-color: #d9534f; }
.aside.arrow:after, .aside.arrow:before { border-width: 12px 0px 13px 17px; }
.aside.arrow:before {
  border-color: #d9534f transparent;
  right: -16px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.aside.arrow:after {
  border-color: transparent #d9534f;
  left: -16px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.aside:before, .aside:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
}
body .multiselect-parent {
  width: 100%;
}
body .multiselect-parent .dropdown-toggle {
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
}
body .multiselect-parent .dropdown-toggle .caret{
  position: absolute;
  right: 15px;
  top: 15px;
}
body .multiselect-parent .dropdown-menu {
  width: 100%;
  overflow: auto !important;
  height: 80px;
}
body .multiselect-parent .dropdown-menu li {  width: 99%; }
body pre {
  border-radius: 0;
}
body pre span:last-of-type .camaHide {  display: none; }

.color-red {
  color: red;
}
.navbar-inverse {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  height: 70px;
}
.navbar-brand {
  padding: 2px;
}
.navbar-brand img {
  width: 65px;
  margin-right: 15px;
}
.navbar-inverse .navbar-nav>li>a.dropMenu,
.navbar-inverse .navbar-nav>li>a.dropMenu:hover,
.navbar-inverse .navbar-nav>li>a.dropMenu:focus {
  background: transparent;
  color: #d2d2d2;
  margin-bottom: 0;
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.navbar-toggle {
  z-index:3;
}
.navbar-brand>img {
  display: inline-block;
  /*width: 60px;*/
  margin-left: 50px;
}
.dropdown-menu>li>a {
  background: #fff !important;
  color: #000 !important;
  padding: 8px;
  font-size: 12px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: rgba(204, 204, 204, 0.41) !important;
  color: #800000 !important;
}
#headerStarts .dropdown-menu > li.kopie > a { padding-left:5px; }
#headerStarts .dropdown-menu {
  padding: 0px;
  border: 0;
  border-top: 2px solid maroon;
}
#headerStarts .dropdown-submenu { position:relative; }
#headerStarts .dropdown-submenu>.dropdown-menu {
  top:0;left:100%;
  margin-top:-6px;margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
#headerStarts .dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
.dropdown-menu .divider {
  margin: 2px 0;
}
/*.navbar {
  height: 70px;
  background-color: transparent !important;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}*/
body .nav>li.active a, body .navbar-default .navbar-nav>.active>a, body .navbar-default .navbar-nav>.active>a:focus, body .navbar-default .navbar-nav>.active>a:hover {
  background: transparent !important;
  color: #800000;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background: transparent;
}
.modal-footer {
  padding: 2px;
  text-align: center;
  border-top: 1px solid #800000;
  background: rgb(243, 243, 243);
}
.modal-header {
  padding: 8px 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #191818;
  color: #fff;
}
.modal-header .close {
  color: #fff;
  opacity: 1;
  font-size: 15px;
}
.modal-header h4 {
  font-size: 16px;
  font-weight: bold;
}
.modal-content { border-radius: 0; }
.errorMsg {  color: red; }
.spanComma:last-of-type .lastComma {
  display: none;
}
.navbar-inverse .navbar-nav>li>a { color: #080000; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff !important;
  background: #121515;
  border-left: 4px solid #3B9BED;
}
.navbar-inverse .navbar-nav>.active .nav-list .active1 a,
.navbar-inverse .navbar-nav>.active .nav-list .active1 a:focus, .navbar-inverse .navbar-nav>.active .nav-list .active1 a:hover {
  color: #fff !important;
  font-weight: bold;
  background-color: transparent !important;
}
.navbar-inverse .navbar-nav>.active .nav-list li .nav-list {
  padding-left: 15px;
  background: #211916;
}
#google_translate_element img {  display: none; }
.goog-te-gadget-simple {
  border: none !important;
  padding: 0 5px !important;
  background: transparent !important;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  background: #121515;
  border-left: 4px solid #3B9BED;
}
.right-align {
  position: absolute;
  right: 25px;
  top: 14px;
}
.chooseLang {
  float: left;
  margin: 15px 0;
}
.adminHome {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  /*margin: 10px 0 15px 25px;*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  min-height: 400px;
}
.skin-blue .main-header .logo:hover {
  background-color: #fff;
}
.noresize { resize: none; }
body .headerBgColor { background: #3074ae !important; }
.user-profile-2 {
  text-align: center;
  position: relative;
}
.box-info {
  position: relative;
  padding: 15px;
  background: #fff;
  color: #5b5b5b;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
}
.box-info:before, .box-info:after {
  display: table;
  content: " ";
}
.box-info:after {
  clear: both;
}
.user-profile-2 .header-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 130px;
  overflow: hidden;
  z-index: 1;
}
.user-profile-2 {
  text-align: center;
  position: relative;
}
.box-info:hover {
  color: #393E48;
}
.user-profile-2 .header-cover img {
  width: 100%;
}
.user-profile-2 .user-profile-inner {
  z-index: 2;
  position: relative;
}
.user-profile-2 .user-profile-inner h4.white {
  color: #fff;
}
.user-profile-2 .user-profile-inner img.profile-avatar {
  box-shadow: 0 0 0 5px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 0 5px rgba(255,255,255,1);
  -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,1);
  border: none;
}
.legendStyle a {
  background: rgba(204, 204, 204, 0.58);
  padding: 5px 15px;
  color: #000;
  display: block;
  font-size: 14px;
}
.fsStyle .collapse.in {
  border: 3px solid #ccc;
  margin: 0 0 15px;
  padding-top: 15px !important;
}
/*body .dropdown-menu.dropdown-menu-form { height: 200px !important; }*/
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.expand{margin-left: 16px;}
body .ui-select-focusser.ui-select-offscreen,
body .mce-container.mce-menubar { display: none !important; }
.layoutText{
  font-size: 18px;
  border-bottom: 1px solid #000;
  padding: 0px;
  margin: auto;
  margin-bottom: 10px;
}
.layoutSelect{
  width:100%;
  height:32px;
}
.layoutForm{
  border: 1px solid #000;
  padding: 0px;
}
.textStyle1 {
  text-align: center;
  background: #419641;
  font-size: 16px;
  text-shadow: 0 0 1px rgba(16, 16, 16, 0.55);
  color: #fff;
}

body .sidebar {
  overflow-y: hidden !important;
}
body .sidebar:hover {
  overflow-y: scroll !important;
}
.height20 { height: 5px; }
.errorline {
  line-height: 25px;
}

.f-bold{
  font-weight: bold;
}

#add1{display: none;}

.select-width {
  width: 145px !important;
}
.ul-mleft-38{margin-left: -38px}
.selectwidth2-80{width: 80% !important}
.close-mleft15{margin-left: 15px}
.width22-kpi{width: 22% !important}
.kpi-p{
  border: 1px solid #000;
  width: 100px;
  padding: 0px;
  margin-top: 10px;

}
/*****************login icons for admin starts*******************************8*/
.adminLogin-icon {
  position: absolute;
  top: 28px;
  left: 90%;
  right: 0px;
  font-size: 1.4em !important;
  opacity: 0.4;
}
.adminKey-icon {
  position: absolute;
  top: 28px;
  left: 86%;
  right: 0px;
  font-size: 1.4em !important;
  opacity: 0.4;
}
.adminName-icon {
  position: absolute;
  top: 31px;
  left: 89%;
  right: 0px;
  font-size: 1.4em !important;
  opacity: 0.4;
}
@media (max-width: 767px) and (min-width: 480px){
  .adminKey-icon {
    position: absolute;
    top: 28px;
    left: 91%;
  }

}
@media (max-width: 767px){

  .adminName-icon {
    position: absolute;
    top: 31px;
    left: 86%;
  }
}
/*body .table-responsive { display: initial !important; }*/
body .table-responsive input, body .table-responsive select {
  color: #444;
  height: 25px;
}
body .inputCheck {
  width: 16px;
  border: none !important;
  box-shadow: none !important;
}
body .table-responsive .dataTables_length select { height: 35px !important; }
body .table-responsive .dataTables_filter input {
  height: 35px !important;
  width: auto !important;
}
.skin-blue .treeview-menu > li.active1 > a, .skin-blue .treeview-menu > li > a:hover { color: #fff; }
body .multiselect-parent .dropdown-menu li.abc1 {
  width: 40%;
  float: left;
}
body .multiselect-parent .dropdown-menu li.abc2 {
  width: 25%;
  float: left;
  text-align: center;
}
body .multiselect-parent .dropdown-menu li.abc1 .dropdown-header {
  padding: 3px 2px !important;
}
body .multiselect-parent .dropdown-menu li.abc3 {
  width: 50px;
  float: left;
  padding: 2px;
}
/*body .multiselect-parent .dropdown-menu li.asdf {
  position: fixed;
}*/
body .multiselect-parent .dropdown-menu li.abc2 a {
  background-color: rgba(10, 10, 10, 0.12) !important;
  padding: 11px 8px;
}
body .multiselect-parent .dropdown-menu li.abc1, body .multiselect-parent .dropdown-menu li.abc2:first-child { border-right: 1px solid red; }
li > ul > li.active1 #workflowSetup {
  display: block;
}

.noticeComment {
  background: rgba(204, 204, 204, 0.55);
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 0;
  font-weight: bold;
}
.padding25px { padding: 25px;}
.adminContent2 {
  min-width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
}
/****************************/
.wizard {
  margin: 0px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 0px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 33.33%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}
.wizard-inner { background: rgba(204, 204, 204, 0.18); }
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 5px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

}
/****************************/

body table.dataTable, table.dataTable.no-footer { margin: 0 !important; }
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
  position: relative;
  padding: 10px 15px 10px 30px;
  cursor: pointer;
}
body .selectize-control {
  position: relative;
  height: 34px;
}
body .selectize-input {
  text-align: left;
  padding: 0 0 0 15px;
  height: 34px;
  line-height: 32px;
}
.ui-select-choices-row {
  border-bottom: 1px solid rgba(204, 204, 204, 0.17);
  text-align: left;
}
.alert-warning, .label-warning {
  background-image: none;
  background-color: rgba(146, 146, 146, 0.16) !important;
  border-color: rgba(19, 17, 14, 0.12);
  box-shadow: inset 0 0 16px rgba(41, 39, 39, 0.09);
  -webkit-box-shadow: inset 0 0 16px rgba(41, 39, 39, 0.09);
  -moz-box-shadow: inset 0 0 16px rgba(41, 39, 39, 0.09);
}
.schemForms .inputArea input[type=checkbox] {
  width: auto !important;
  box-shadow: none !important;
}
#rebaseLineScroll .nav.nav-tabs {
  margin: auto;
  display: table;
  width: 100%;
}
#rebaseLineScroll .nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 50%;
}

#rebaseLineScroll .nav-tabs>li>a {
  padding: 15px; }
.user-panel .image img {
  width: 60px;
  height: 60px;
}
.sidebar-collapse .user-panel .image img {
  width: 20px;
  height: 20px;
}

/**** radio buttons styles ***/
.onoffswitch {
    position: relative; width: 117px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 35px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Active";
    padding-left: 13px;
    background-color: #3289c8; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "In Active";
    padding-right: 13px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-inner1:before {
    content: "-- Yes --";
    padding-left: 13px;
    background-color: #3289c8; color: #FFFFFF;
}
.onoffswitch-inner1:after {
    content: "-- No --";
    padding-right: 13px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 28px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 78px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/**** radio buttons styles ***/
.statusTrue a{
  color: green !important;
}.statusFalse a{
  color: red !important;
}
 .dropdown-menu li.header:first-of-type{
   background: rgba(18, 19, 18, 0.25) !important;
   color: white !important;
   }
/************** preloading **************/
preloader div {
  transition: 0.25s linear all;
}

preloader div.ng-hide {
  opacity: 0;
}

.loader {
  top:50%;
  left:50%;
  z-index:10000;
  position:absolute;
  width: 80px;
  height: 80px;
  margin-top:-20px;
  margin-left:-20px;
  -webkit-animation: tp-rotateplane 2s infinite ease-in-out;
  animation: tp-rotateplane 2s infinite ease-in-out;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

@-webkit-keyframes tp-rotateplane {
  0% { -webkit-transform: perspective(120px); background-color: #4285F4; }
  25% { background-color: #DE3E35; }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); background-color: #F7C223; }
  75% { background-color: #1B9A59; }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); background-color: #4285F4; }
}

@keyframes tp-rotateplane {
  0% { -webkit-transform: perspective(120px); background-color: #4285F4; }
  25% { background-color: #DE3E35; }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); background-color: #F7C223; }
  75% { background-color: #1B9A59; }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); background-color: #4285F4; }
}
/************** preloading **************/
body .theadBg th {
    background: #444 !important;
    color: #fff !important;
}
select[multiple]{
     height: 100px;
   }

.uploadArea {
    border: 2px double #ccc;
    padding: 10px;
}
body.modal-open {
     overflow: hidden;
     position:fixed;
     width: 100%;
}
.modal { overflow: auto !important; }
body .slimScrollBar { width: 15px !important; }
.mainHeading {
    background: #aacdef;
    border-bottom: 3px solid #3c8dbc;
}
/*hide am chart element*/
#vehicleId a{display:none !important;}

/*hide high chart element*/

#assetReport .highcharts-credits {display:none !important;}


/*License Requests*/

.license_req{padding: 20px 0px;}
.license_req h3{text-align: center;text-transform: capitalize;padding: 10px 0px;font-weight: bold;color: #32a2f8;}
.button_mdl{text-align: right;padding-bottom: 10px;}
.button_mdl button{text-transform: capitalize;border-radius: 6px;}

.submit_style{text-align: center;padding-top: 20px;}
.griv{text-align: center;text-transform: capitalize;}
.mdt-cnt{width: 70%;margin: auto;}
.col-form-label{text-align: right;}


/************ create grienance *************/
.m-top10{margin-top:10px;}
.width80{width:80%;}
.width130{width: 130%;}
.grievance1_btn{color: black;background: #fff;border-radius: 15px;border: 1px solid #ccc;padding: 8px 23px;}
.d_inline{display: inline;width:100%}
.grievance_btn{color: #fff;background: #e84c3d;border-radius: 15px;height: 38px;text-transform: capitalize;}
.cancel_btn{color: #fff;background: #34393d;width: 115px;border-radius: 15px;text-transform: capitalize;}

.creatgri{text-align: center;}
.cntinfor{background:#e84c3d;}
.cntinfor h3{padding: 6px;font-size: 20px;color: #fff;}
.entname{border:1px solid #ddd;padding: 10px;margin-top: -10px;background: #fff;}
.grievanceinfor{background:#e84c3d;margin-top: -20px;}
.grievanceinfor h3{padding: 6px;font-size: 20px;color: #fff;}
.selectfrm{border:1px solid #ddd;padding: 10px;margin-top: -10px;background: #fff;}
.upload{margin-top:15px;margin-bottom:15px}
.landmark{margin-bottom: 50px;}
.landmark input{padding-bottom: 70px;padding-top: 16px;}

.cursor{cursor: pointer;}