<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/schemeManagement" lang="en">Home</a></li>
                    <li class="breadcrumb-item active">{{userDetails.name}}</li>
                    <li class="breadcrumb-item"><a href="#/appliedForms" lang="en">Track Requests</a></li>
                    <li class="breadcrumb-item active" lang="en">View Request Details</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="#/appliedForms" class="backbtnArea pull-right color-fff">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn" lang="en">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span lang="en">Scheme Details : </span></h3>
                <hr />
                <div class="table-responsive">
                    <table class="schemeDetails">
                        <tbody>
                        <tr>
                            <th class="width200" lang="en">Scheme Name</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.schemeName}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Request Id</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.requestId}}</td>
                        </tr>
                        <!--<tr>
                            <th class="width200">SchemeUniqueId</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.schemeUniqueId}}</td>
                        </tr>-->
                        <tr>
                            <th class="width200" lang="en">Name</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.name}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Email Id</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.emailId}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Mobile Number</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.mobileNumber}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Accept Status</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.acceptStatus}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Request Status</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.requestStatus}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Created Time</th>
                            <td class="width20">:</td>
                            <td>{{requestSuccess.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                        </tr>
                        <tr>
                            <th colspan="2" lang="en">Uploaded Files :</th>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-bordered table-stripped">
                                    <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>File Size</th>
                                        <th>Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="files in requestSuccess.files">
                                            <td>
                                                <a target="_blank" href="{{uploadURL}}{{files.id}}">
                                                    {{files.name}}
                                                </a>
                                            </td>
                                            <td>{{files.size}}</td>
                                            <td>{{files.comment}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>