<div class="mtop21">
    <div class="contentStart">
        <div class="row">
            <div class="row">
                <button class="btn btn-info pull-right"><a href="#/viewProjectRequestDetails">View Project Requests</a></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <form class="simple-form" ng-submit="submitRequest()" >
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3><span class="color-theme" lang="en">Application Form</span></h3>
                                <hr />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Title</span>:</label>
                                <input type="text" class="form-control" ng-model="request.title" placeholder="Enter Title" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span lang="en">Requested By</span>:</label>
                                <select ng-model="request.requested" >
                                    <option value="">Select Type</option>
                                    <option value="Individual">Individual</option>
                                    <option value="Community">Community</option>
                                    <option value="Association">Association</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Association/Community ID</span>:</label>
                                <input type="text" class="form-control" ng-model="request.association" placeholder="Enter Association/Community ID" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Applicant Name</span>:</label>
                                <input type="text" class="form-control" ng-model="request.personName" placeholder="Enter Applicant Name" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label> <span class="color-red f-bold f-left">*</span><span lang="en">Applicant Email</span>:</label>
                                <input type="text" class="form-control" ng-model="request.email" placeholder="Enter Applicant Email" disabled/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Phone Number</span>:</label>
                                <input type="text" class="form-control" ng-model="request.mobile" valid-number maxlength="10" placeholder="Enter Mobile Number" required />
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Application Details</span>:</label>
                                <textarea type="text" rows="5" class="form-control" ng-model="request.description" placeholder="Enter Application Details"></textarea>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Upload Documents</span>: </label>
                                <br />
                                <button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="image/jpeg, application/pdf"><span lang="en">Upload Documents</span></button>
                                <div ng-show="uploadNitif">
                                    <h4><span lang="en">Uploaded Documents</span>:</h4>
                                    <table class="table table-striped">
                                        <thead>
                                    <tr>
                                        <th lang="en">File Name</th>
                                        <th lang="en">File Size</th>
                                        <th lang="en">Comment</th>
                                        <th lang="en">Action</th>
                                    </tr>
                                    </thead>
                                        <tbody>
                                        <tr ng-repeat="f in docList">
                                            <td>
                                                <a target="_blank" href="{{docUploadURL}}{{f.id}}" class="color-text1"><h5>{{f.name}}</h5></a>
                                            </td>
                                            <td>{{f.size}}</td>
                                            <td>      <textarea rows="1" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                            </td>
                                            <td class="width20">
                                                <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f.id)"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                <span class="progress" ng-show="progress >= 0"></span>
                                <!--<div ng-bind="progress + '%'">

                                </div>-->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button lang="en" id="submit_btn" type="submit" ng-disabled="disable" class="btn btn-success">
                                    <span ng-show="!submit" lang="en">Submit</span>
                                    <span ng-show="submit">Please Wait.. Submitting the Form</span></button>
                                <button type="button" ng-click="resetButton()" class="btn btn-success" lang="en">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>-->
            <div class="modal-body">
                <div class="text-center" lang="en">Successfully Submitted your Request</div>
                <button lang="en" calss="btn btn-success" ng-click="applyNewRequest()">Apply New Request</button>
                <button lang="en" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>

    </div>
</div>