<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Death Registration</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <button class="btn btn-info pull-right" style="margin-top:15px;cursor:pointer;"><a href="#/viewDeathRequest">View Death Requests</a></button>
        </div>
    </div>

</div>
<div class="modal-content mtop21" ng-controller="deathFormController">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Death Registration</h4>
        </div>
        <form role="form" class="" name="myform" class="adminContent" ng-submit="createDeath()">
            <div class="modal-body">
                <div class="row schemForms">
    
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Name:</label>
                        <input placeholder="Enter Name" type="text" ng-model="deathform.name">
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Age:</label>
                        <input placeholder="Enter Name" type="text" ng-model="deathform.age">
                    </div>
    
    
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Date of Death:</label>
                        <input placeholder="start date" format="%m-%d-%Y" ng-calendar type="text" ng-model="deathform.dod">
                    </div>
    
    
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Spouse Name:</label>
                        <input placeholder="Enter Name" type="text" ng-model="deathform.spousename">
                    </div>
    
    
                  
    
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>Mobile Number:</label>
                            <input placeholder="Enter Mobile Number" type="text" maxlength="10" minlength="10" ng-model="deathform.mnumber">
                        </div>
    
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Hospital Name:</label>
                        <input placeholder="Enter Name" type="text" ng-model="deathform.hsptlname">
                    </div>
    
                   
    
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <span class="color-red f-bold f-left">*</span>Address:</label>
                        <textarea placeholder="Enter Description" type="text" ng-model="deathform.desc" style="height:100px;"></textarea>
                    </div>
    
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button id="cancel1" type="button" class="btn btn-danger" data-dismiss="modal"> <a style="color:white" href="/projectLegal/#/">Cancel</a></button>
            </div>
        </form>
    </div>



    <div id="DeathSuccess" class="modal fade" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center color-green modalSuccess">
                    <div class="sMessage">Death Deatils are Succesfully Saved</div>
                </div>
            </div>
    
        </div>
    </div>