<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Grievance Redressal </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <button class="btn btn-info pull-right" style="margin-top:15px;cursor:pointer;"><a href="#/viewGrievanceRequest">View Grievance Requests</a></button>
        </div>
    </div>

</div>

<div class="modal-content mtop21" ng-controller="grievanceRedressalController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Grievance Redressal</h4>
    </div>
    <form role="form" class="" name="myform" class="adminContent" ng-submit="createGrievanceRedressal()">
        <div class="modal-body">
            <div class="row schemForms">

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Name:</label>
                    <input placeholder="Enter Name" type="text" ng-model="property1.citizenName">
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Mobile Number:</label>
                    <input placeholder="Enter Mobile Number" type="text" maxlength="10" minlength="10" ng-model="property1.citizenMobileNumber">
                </div>


                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Location:</label>
                    <select ng-model="property1.citizenLocation" class="form-control width50 d_inline opnsty">
                        <option value="" selected>Select Location</option>
                        <option value="Coimbatore">Coimbatore</option>
                        <option value="Madurai">Madurai</option>
                        <option value="Salem">Salem</option>
                        <option value="Thanjavur">Thanjavur</option>
                        <option value="Tiruchirapalli">Tiruchirapalli</option>
                        <option value="Vellore">Vellore</option>
                        <option value="Tirunelveli">Tirunelveli</option>
                        <option value="Tiruppur">Tiruppur</option>
                        <option value="Thoothukudi">Thoothukudi</option>
                        
                    </select>
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Department:</label>
                    <select ng-model="property1.department" class="form-control width50 d_inline opnsty">
                        <option value="" selected>Select Department</option>
                        <option value="Police">Police</option>
                        <option value="Revenue">Revenue</option>
                        <option value="Home">Home</option>
                        <option value="Finance">Finance</option>
                        <option value="Education">Education</option>
                        <option value="Ration">Ration</option>                        
                    </select>
                </div>
               
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Description:</label>
                    <textarea placeholder="Enter Description" type="text" ng-model="property1.description" style="height:100px;"></textarea>
                </div>
              
            </div>
        </div>
        <div class="modal-footer mtop10">
            <button type="submit" class="btn btn-success mtop_mbtm10">Submit</button>
            <button id="cancel1" type="button" class="btn btn-danger mtop_mbtm10" data-dismiss="modal">
                <a style="color:white" href="/projectLegal/#/">Cancel</a></button>
        </div>
    </form>
</div>



<div id="grievanceRequest" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Grievance Deatils are Succesfully Saved</div>
            </div>
        </div>

    </div>
</div>