<div>
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/landAndAssesment">Home</a></li>
                    <li class="breadcrumb-item active">Performa Details</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="backbtnArea pull-right color-fff">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span>Scheme Name : </span>
                    <span class="color-theme text-capitalize"> {{selectedSchemeDetails.name}}</span></h3>
                <h6>Applying for - <b class="text-capitalize">"{{selectedSchemeDetails.name}} "</b> </h6>
                <hr />
            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <div class="schemeFormTitle">
                        <div class="schemeForm">Performa Details</div>
                        <form name="form1" id="form1" class="simple-form" ng-submit="schemeFormSubmit()">
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label><span class="color-red f-bold f-left">*</span>P.A ID:</label>
                                    <input type="textgn " class="form-control" id="myText" placeholder="Enter ID" readonly/>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label> <span class="color-red f-bold f-left">*</span>Invoice Value:</label>
                                    <input type="text" required valid-number maxlength="10" class="form-control" ng-model="citizenData.invoiceValue" placeholder="Enter Invoice Value" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label><span class="color-red f-bold f-left">*</span>Invoice Date</label>
                                    <input readonly placeholder="Enter Invoice Date" ng-model="citizenData.invoiceDate" ng-calendar format="%d-%m-%Y"/>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label><span class="color-red f-bold f-left">*</span>Cover Note</label>
                                    <textarea required type="text" row="3" class="form-control" ng-model="citizenData.coverNote" placeholder="Enter Cover Note" />
                                </div>
                                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button class="btn btn-info" ngf-select="uploadFiles($files)" multiple accept="*">Attachments</button>
                                    <div ng-show="fileUploadLists">
                                        <br /><br />Files:
                                        <ul>
                                            <li ng-repeat="f in files">
                                                <a target="_blank" href="{{uploadURL}}{{f.id}}" class="color-text1"><h5>{{f.name}}</h5></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button lang="en" class="btn btn-info" ngf-select="uploadFiles($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Attachments</button>
                                    <div ng-show="fileUploadLists">
                                        <br />
                                        <h5 lang="en">Files : </h5>
                                        <hr />
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Thumbnail</th>
                                                <th>Name</th>
                                                <th>Size</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tr ng-repeat="f in files">
                                                <td>
                                                    <img src="{{uploadURL}}{{f.id}}" style="width: 30px; height: 30px;"/>
                                                </td>
                                                <td>
                                                    <a target="_blank" href="{{uploadURL}}{{f.id}}" class="color-text1"><h5>{{f.name}}</h5></a>
                                                </td>
                                                <td>{{f.size}}</td>
                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                <td class="width20">
                                                    <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f.id)"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="color-red" ng-show="errorMssg">Please Wait.. Uploading the selected file.</div>
                                </div>


                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <br />
                                    <button class="btn btn-success">Submit</button>
                                    <button type="button" id="resetBtn" value="Reset" class="btn btn-info">Reset</button>
                                    <a href="#/landAndAssesment" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>