  <div class="row">
        <div class="col-lg-6 col-md-6 col-sh-12 col-xs-12">
            <h3>Employee Leave Request </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sh-12 col-xs-12">
            <!--<button class="btn btn-info pull-right" style="margin-top: 16px;"><a href="#/viewPropertyTaxRequest">View Tax Requests</a></button>-->
            <button class="btn btn-info pull-right" style="margin-top:20px;cursor:pointer;"><a href="#/viewLeaveRequest">View Requests</a></button>
        </div>
  </div>

<div class="modal-content mtop21">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Employee Leave Request</h4>
    </div>
    <form role="form" class="" name="myform" class="adminContent" ng-submit="createProperty()">
        <div class="modal-body">
            <div class="row schemForms">

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Email:</label>
                    <input placeholder="enter email" type="text" ng-model="property.email">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Type of Leave:</label>
                    <select ng-model="property.leaveType" class="form-control width50 d_inline opnsty">
                        <option value="" selected>Select Leave Type</option>
                        <option value="Casual Leave">Casual Leave</option>
                        <option value="Sick Leave">Sick Leave</option>
                        <option value="Privileged Leave">Privileged Leave</option>
                    </select>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Start Date:</label>
                    <input placeholder="start date" format="%m-%d-%Y" ng-calendar type="text" ng-model="property.startDate">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>End Date:</label>
                    <input placeholder="end date"  format="%m-%d-%Y" ng-blur="dayDiff(property.startDate,property.endDate)" ng-calendar type="text" ng-model="property.endDate">
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label><span class="color-red f-bold f-left">*</span>Total Days:</label>
                    <input placeholder="total days" type="text" ng-model="property.numOfDays">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success mtop_mbtm10">Submit</button>
            <button id="cancel1" type="button" class="btn btn-danger mtop_mbtm10" data-dismiss="modal">
                    <a style="color:white" href="/projectLegal/#/">Cancel</a></button>
        </div>
    </form>
</div>