<div class="container-fluid" style="background:#f6f7f9;min-height: 430px;" >
    <div class="col-lg-12 col-md-12 col-sh-12 col-xs-12" style="padding:10px">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sh-12 col-xs-12">
                <h3>Property Tax </h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sh-12 col-xs-12">
                <button class="btn btn-info pull-right" style="margin-top: 16px;"><a href="#/viewPropertyTaxRequest">View Tax Requests</a></button>
            </div>
        </div>


        <form role="form" class="" name="myform"  ng-submit="createProperty()">
            <div style="background:#800000;">
                <h3 style="padding: 6px;font-size: 20px;color: white;">Create Property:Form - 6</h3>
            </div>



            <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
                <!--  <div class="row">
                      <div class="col-lg-4">
                          <p class="m-top8">Reason for Creation of Property: </p>
                      </div>
                      <div class="col-lg-8">
                          <select class="form-control width80">
                              <option>Choose</option>
                          </select>
                      </div>
                  </div>-->
                <div class="row">

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.name" class="form-control width95" placeholder="Applicant's Name">
                    </div>
                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.serviceNumber" class="form-control width95" placeholder="Service Request No.">
                    </div>

                    <div class="col-lg-6 m-top10">
                        <select ng-model="property.zone" class="form-control width95" placeholder="Zone">
                            <option value="" selected>Select Zone</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                    </div>
                    <div class="col-lg-6 m-top10">
                        <select ng-model="property.ward" class="form-control width95" placeholder="Zone">
                            <option value="" selected>Select Ward</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                    </div>

                    <div class="col-lg-6 m-top10">
                        <select ng-model="property.propertyGroup" class="form-control width95" placeholder="property group">
                            <option value="" selected>Select Property Group</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                    </div>


                    <div class="col-lg-6 m-top10">
                        <select ng-model="property.propertySubGroup" class="form-control width95" placeholder="sub group">
                            <option value="" selected>Select Property  Sub Group</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                    </div>

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.ownerName" class="form-control width95" placeholder="Type Owner's Name">
                    </div>

                    <!-- <div class="col-lg-6 m-top10">
                         <button type="button" class="btn addOwner_btn">+&nbsp;&nbsp;Add Owner</button>&emsp;
                         <button type="button" class="btn removeOwner_btn">X Remove Owner</button>
                     </div>-->

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.phone" class="form-control width95" placeholder="Mobile Number">
                    </div>

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.email" class="form-control width95" placeholder="Email Address">
                    </div>

                    <div class="col-lg-6 m-top10 m-btm10">
                        <input type="text" ng-model="property.approvalNumber" class="form-control width95" placeholder="Building Plan Approval No">
                    </div>

                    <div class="col-lg-6 m-top10">
                        <input class="form-control width95" placeholder="Building Plan Approval Date" format="%m-%d-%Y" type="text" ng-calendar ng-model="property.approvalDate" required maxlength="30" minlength="3">

                        <!--  <input type="text" ng-model="property.approvalDate" class="form-control width95" placeholder="Building Plan Approval Date">-->
                    </div>



                </div>
            </div>

            <div style="background:#800000;margin-top: -20px;">
                <h3 style="padding: 6px;font-size: 20px;color: white;">Property Address(Property to be Assessed)</h3>
            </div>


            <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
                <div class="row">

                    <div class="col-lg-6 padding0">
                        <div class="col-lg-4 m-top8">Area</div>
                        <div class="col-lg-8">
                            <select ng-model="property.area" class="form-control width93">
                                <option value="" selected>Select Choose Area</option>
                                <option value="test">Active</option>
                                <option value="test1">In Active</option>
                            </select>

                        </div>
                    </div>


                    <div class="col-lg-6 padding0">
                        <div class="col-lg-4 m-top8" >Locality</div>
                        <div class="col-lg-8 ">
                            <select ng-model="property.locality" class="form-control width93">
                                <option value="" selected>Choose Locality</option>
                                <option value="test">Active</option>
                                <option value="test1">In Active</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 padding0 m-top10">
                        <div class="col-lg-4 m-top8">Street Ward</div>
                        <div class="col-lg-8">
                            <select ng-model="property.streetWard" class="form-control width93">
                                <option value="" selected>Choose Street Ward</option>
                                <option value="test">Active</option>
                                <option value="test1">In Active</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-6 padding0 m-top10">
                        <div class="col-lg-4 m-top8">Street Name</div>
                        <div class="col-lg-8">
                            <select ng-model="property.streetName" class="form-control width93">
                                <option value="" selected>Choose Street Name</option>
                                <option value="test">Active</option>
                                <option value="test1">In Active</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.doorNo" class="form-control width95" placeholder="Door No. New">
                    </div>

                    <!--<div class="col-lg-6 m-top10">
                        <input type="text" class="form-control width95" placeholder="Door No. New">
                    </div>
    -->

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.address" class="form-control width95" placeholder="Address1(Apartment Name/Building Name/Landmark):">
                    </div>

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.pinCode" class="form-control width95" placeholder="Pincode">
                    </div>

                    <div class="col-lg-12">
                        <p>If Correspondence is different from Property Address <input ng-model="property.checkAddress" type="checkbox" ><br>
                            Streetname for calculating Demand:</p>

                    </div>



                </div>
            </div>


            <div style="background:#800000;margin-top: -20px;">
                <h3 style="padding: 6px;font-size: 20px;color: white;">Property Type</h3>
            </div>


            <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
                <div class="row">
                    <div class="col-lg-6 m-top10">
                        <select ng-model="property.propertyType" class="form-control width95" placeholder="Property Type">
                            <option value="" selected>Choose Property Type</option>
                            <option value="residential flat">Residential Flat</option>
                            <option value="commercial building">Commercial Building</option>
                            <option value="open land">Open Land</option>
                        </select>
                    </div>


                    <div class="col-lg-6 m-top10">
                        <input ng-model="property.areaOfPlotInSqft" type="text" class="form-control width95" placeholder="Area of Plot in Sq.feet">
                    </div>

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.landInSqft"class="form-control width95" placeholder="Undivided share of Land in Sq.feet">
                    </div>

                    <div class="col-lg-6 m-top10">
                        <input type="text" ng-model="property.landOwnerName" class="form-control width95" placeholder="owner of the Land">
                    </div>
                </div>
            </div>

            <div style="background:#800000;margin-top: -20px;">
                <h3 style="padding: 6px;font-size: 20px;color: white;">Floor Details</h3>
            </div>

            <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
                <div class="row">
                    <div class="col-lg-12 floor">
                        <select ng-model="property.floorNumber" class="form-control">
                            <option value="" selected>Choose Floor Number</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <input type="text" ng-model="property.builtAreaInSqft" class="form-control" placeholder="Built Up Area in Sq.feet">
                        <select ng-model="property.usage" class="form-control">
                            <option value="" selected>Choose Usage</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                        <select ng-model="property.occupancy" class="form-control">
                            <option value="" selected>Choose Occupancy</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                        <select ng-model="property.constructionType" class="form-control">
                            <option value="" selected>Choose Type of Construction</option>
                            <option value="test">Active</option>
                            <option value="test1">In Active</option>
                        </select>
                        <input ng-model="property.yearOfConstruction" type="text" class="form-control" placeholder="Year of Construction">
                        <!-- <div class="text-center">
                             <button class="btn addmore_btn ">+ Add More</button>
                         </div>-->
                    </div>

                    <div class="col-lg-12 m-top10 padding0">
                        <div class="col-lg-6">
                            <input type="text" ng-model="property.dateOfCompletion" format="%m-%d-%Y" ng-calendar class="form-control width95" placeholder="Date of Completion/Occupation (DD/MM/YYYY)" >
                        </div>
                        <div class="col-lg-6">
                            <input type="text" ng-model="property.demandInstallment" class="form-control width95" placeholder="Demand Effective Installment" >
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <span>comments</span>
                        <textarea ng-model="property.comment" class="form-control width95 textarea_p"></textarea>
                    </div>

                </div>
            </div>

            <div class="btn_p text-center mtop10">
                <button type="submit" class="btn btn-success" >Submit</button>&emsp;
                <!-- <button class="btn btn-danger">Cancel</button> -->
                <button  type="button" class="btn btn-danger" data-dismiss="modal"> 
                    <a style="color:white" href="/projectLegal/#/">Cancel</a></button>
            </div>
        </form>
    </div>
</div>



<div id="propertyRequest" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Porperty Tax Deatils are Succesfully Saved</div>
            </div>
        </div>

    </div>
</div>