<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/schemeManagement" lang="en">Home</a></li>
                    <li class="breadcrumb-item active" lang="en">Scheme Details</li>
                </ol>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="backbtnArea pull-right color-fff">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn" lang="en">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span lang="en">Scheme Name</span> : <span class="color-theme text-capitalize"> {{filterSchemeLists.name}}</span></h3>
                <hr />
                <!--<div class="schemeImg" ng-repeat="fileData in filterSchemeLists.file">
                   <div>
                    <img src="http://139.162.42.96:8899/api/Uploads/dhanbadDb/download/{{fileData.id}}" class="img-responsive img-thumbnail" />
                   </div>
                </div>-->
                <div class="table-responsive">
                    <table class="schemeDetails">
                        <tbody>

                            <tr>
                                <th class="width200" lang="en">Description</th>
                                <td colspan="2" class="width20">:</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="nopadding text-justify">{{filterSchemeLists.description}}</p></td>
                            </tr>
                            <tr>
                                <th colspan="2" ><span lang="en">Upload Notification</span> :</th>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <ul>
                                        <li ng-repeat="files in filterSchemeLists.file">
                                            <a target="_blank" href="{{uploadURL}}{{files.id}}">
                                                {{files.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="width200" lang="en">Category</th>
                                <td class="width20">:</td>
                                <td>{{filterSchemeLists.category}}</td>
                            </tr>
                            <tr>
                                <th class="width200" lang="en">Ministry</th>
                                <td class="width20">:</td>
                                <td>{{filterSchemeLists.ministryName}}</td>
                            </tr>
                            <tr>
                                <th class="width200" lang="en">Department</th>
                                <td class="width20">:</td>
                                <td>{{filterSchemeLists.departmentName}}</td>
                            </tr>
                            <tr>
                                <th class="width200" lang="en">Date of Commencement</th>
                                <td class="width20">:</td>
                                <td>{{filterSchemeLists.commincement}}</td>
                            </tr>
                            <tr>
                                <th class="width200" lang="en">Beneficiaries</th>
                                <td class="width20">:</td>
                                <td>
                                    <ul class="nopadding listNone benfRepeat">
                                        <li ng-repeat="binef in filterSchemeLists.bineficiaries">
                                                {{binef.label}}<span>, </span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="3" ><span lang="en">Please DOWNLOAD the Forms to Apply <span> :</th>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <ul>
                                        <li ng-repeat="forms in filterSchemeLists.forms">
                                            <a target="_blank" href="{{uploadURL}}{{forms.id}}">
                                                {{forms.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contactInfo">
                <h6><b class="width150" lang="en">Contact Information </b> :</h6>

                    <hr />
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="filterSchemeLists.contactOne">
                                <div class="contactAre">
                                    <div class="color-theme"><h4 lang="en">Contact 1</h4></div>
                                <table class="contactTable">
                                    <tbody>
                                        <tr>
                                            <th lang="en">Name</th>
                                            <td>: </td>
                                            <td class="text-capitalize">{{filterSchemeLists.contactOne.name}}</td>
                                        </tr>
                                        <tr>
                                            <th lang="en">Email Id</th>
                                            <td>:</td>
                                            <td>{{filterSchemeLists.contactOne.email}}</td>
                                        </tr>
                                        <tr>
                                            <th lang="en">Work Number</th>
                                            <td>:</td>
                                            <td>{{filterSchemeLists.contactOne.phoneTwo}}</td>
                                        </tr>
                                        <tr>
                                            <th lang="en">Mobile Number</th>
                                            <td>:</td>
                                            <td>{{filterSchemeLists.contactOne.phoneOne}}</td>
                                        </tr>
                                        <tr>
                                            <th lang="en">Designation</th>
                                            <td>:</td>
                                            <td>{{filterSchemeLists.contactOne.designation}}</td>
                                        </tr>
                                        <tr>
                                            <th lang="en">Address</th>
                                            <td>:</td>
                                            <td>{{filterSchemeLists.contactOne.address}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="filterSchemeLists.contactTwo">
                                <div class="contactAre">
                                    <div class="color-theme"><h4 lang="en">Contact 2</h4></div>
                                <table class="contactTable">
                                    <tbody>
                                    <tr>
                                        <th lang="en">Name</th>
                                        <td>: </td>
                                        <td class="text-capitalize">{{filterSchemeLists.contactTwo.name}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Email Id</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactTwo.email}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Work Number</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactTwo.phoneTwo}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Mobile Number</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactTwo.phoneOne}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Designation</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactTwo.designation}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Address</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactTwo.address}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12" ng-if="filterSchemeLists.contactThree">
                                <div class="contactAre">
                                    <div class="color-theme"><h4 lang="en">Contact 3</h4></div>
                                <table class="contactTable">
                                    <tbody>
                                    <tr>
                                        <th lang="en">Name</th>
                                        <td>: </td>
                                        <td class="text-capitalize">{{filterSchemeLists.contactThree.name}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Email Id</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactThree.email}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Work Number</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactThree.phoneTwo}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Mobile Number</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactThree.phoneOne}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Designation</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactThree.designation}}</td>
                                    </tr>
                                    <tr>
                                        <th lang="en">Address</th>
                                        <td>:</td>
                                        <td>{{filterSchemeLists.contactThree.address}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!--</tbody>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <div ng-if="filterSchemeLists.comment">Note: <span>{{filterSchemeLists.comment}}</span></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <br />
                            <button class="btn btn-success" ng-click="schemeForms(filterSchemeLists)" lang="en">Apply</button>
                            <a href="#/" class="btn btn-danger" lang="en">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>