<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeMain">
                    <h4 class="color-theme text-uppercase text-center schemeTitle" lang="en">
                        View Project Requests
                        <span class="pull-right" style="cursor:pointer;"><a href="#/createRequest">Go Back</a></span>
                    </h4>


                    <!--<hr class="type1"/>-->
                    <div class="table-responsive">
                        <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                            <thead>
                            <tr>
                                <th class="width70" lang="en">Applicant's Name</th>
                                <th class="width70" lang="en">Requested By</th>
                                <th class="width70" lang="en">Mobile</th>
                                <!--<th class="width150" lang="en">Locality</th>-->
                                <th class="width150" lang="en">Email</th>
                                <th class="width70" lang="en">Status</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="viewLic in viewTaxDetails">
                                <td>{{viewLic.personName}}</td>
                                <td>{{viewLic.requested}}</td>
                                <td>{{viewLic.mobile}}</td>
                                <!--<td>{{viewLic.locality}}</td>-->
                                <td>{{viewLic.email}}</td>
                                <td>{{viewLic.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>