<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeMain">
                    <h4 class="color-theme text-uppercase text-center schemeTitle" lang="en">
                         View Grievance Requests
                        <span class="pull-right" style="cursor:pointer;"><a href="#/grievanceRedressal">Go Back</a></span>
                    </h4>


                    <!--<hr class="type1"/>-->
                    <div class="table-responsive">
                        <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                            <thead>
                            <tr>
                                <th class="width70" lang="en">Citizen Name</th>
                                <!--<th class="width70" lang="en">Lic Type</th>-->
                                <th class="width70" lang="en">Description</th>
                                <th class="width150" lang="en">Location</th>
                                <th class="width150" lang="en">Department</th>
                                <th class="width150" lang="en">Status</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="viewLic in viewGrievanceRequestDetails">
                                <td>{{viewLic.citizenName}}</td>
                                <td>{{viewLic.citizenMobileNumber}}</td>
                                <td>{{viewLic.citizenLocation}}</td>
                                <td>{{viewLic.department}}</td>
                                <td>{{viewLic.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>