<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Bill Generation</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Bill Generation</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default m-right5" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#billGeneration')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" id="scroll" ng-click="createBillGeneration()" lang="en" ng-show="billGeneration">Add Bill Generation</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="billGeneration" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12" ng-show="subtaskList">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects TOR Details</h5>
                    <ui-select ng-change="selectBillInformation($select.selected.subTaskName)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.subTaskName}}</ui-select-match>
                        <ui-select-choices repeat="proId in subTaskList | filter: $select.search">
                            <span ng-bind-html="proId.subTaskName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="subtaskList">
                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>%</span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div ng- >
                </div>
                <div  ng-show="billGeneration">
                    <div class="projectMain m-top20 m-btm20">
                        <div class="projectTile" lang="en">Project Task Details Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Header Name</th>
                                    <th lang="en">Task Name</th>
                                    <th lang="en">Start Date</th>
                                    <th lang="en">End Date</th>
                                    <th lang="en">Financial Year</th>
                                    <th lang="en">Estimated Cost</th>
                                    <th lang="en">Utilized Cost</th>
                                    <th lang="en">Complete(%)</th>
                                    <th lang="en">Status</th>
                                    <th lang="en">Resource Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td>{{subTaskDetails.headerName}}</td>
                                    <td>{{subTaskDetails.subTaskName}}</td>
                                    <td>{{subTaskDetails.startDate}}</td>
                                    <td>{{subTaskDetails.endDate}}</td>
                                    <td>{{subTaskDetails.financialYear}}</td>
                                    <td>{{subTaskDetails.estimatedCost}}</td>
                                    <td>{{subTaskDetails.utilizedCost}}</td>
                                    <td>{{subTaskDetails.completePercenatge}}</td>
                                    <td>{{subTaskDetails.status}}</td>
                                    <td>{{subTaskDetails.resource}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Bill Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Bill Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="billData in billList" >
                                    <td colspan="4">
                                        <table class="table nopadding">
                                            <tr>
                                                <td class="width120"><b lang="en">Contractor Name</b>: <br />{{billData.reviewPersonName}}</td>
                                                <td class="width120"><b lang="en">Bill Amount</b>: <br />{{billData.totalAmount}}</td>
                                                <!--<td><b lang="en">Total Amount</b>: <br />{{billData.totalAmount}}</td>-->
                                                <td><b lang="en">Bill Id</b>: <br />{{billData.billId}}</td>

                                                <td class="width20">
                                                    <button class="btn btn-primary" ng-if="billData.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editBillDetails(billData)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" data-toggle="tooltip" title="View Bill Details" ng-click="billDetailsModal(billData)"class="btn btn-primary" >
                                                        <span class="glyphicon glyphicon-th-large"></span>
                                                    </button>
                                                </td>
                                                <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                                    <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                        <span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" data-toggle="tooltip" title="Approve"  ng-if="billData.approveFiledVisit" ng-click="approvalModal(billData)" class="btn btn-success" >
                                                        <span class="glyphicon glyphicon-ok"  ></span>
                                                    </button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" ng-if="billData.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(billData)"class="btn btn-danger" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Amount</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in billData.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.approvedAmount}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <!-- <td>
                                                                     &lt;!&ndash;  <button>Approval</button>
                                                                   <button>Reject</button>&ndash;&gt;
                                                                     <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                                 </td>-->
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--- fieldVisistReportEdit --->
<div id="fieldVisitReportEdit" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Bill Generation</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="fieldVisitReportEdit()">

            <div class="modal-body">
                <div class="schemForms">
                    <div class="row">
                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Visitor Name:</label>
                            &lt;!&ndash;<select ng-model="editFiledVisitDetails.level">
                                <option value="">Select Level</option>
                                <option value="Level - 1">Level - 1</option>
                                <option value="Level - 2">Level - 2</option>
                                <option value="Level - 3">Level - 3</option>
                                <option value="Level - 4">Level - 4</option>
                            </select>&ndash;&gt;
                            <select ng-model="editFiledVisitDetails.level" data-style="btn-primary" required>
                                <option value="">Select Employee Name</option>
                                <option ng-repeat="employee in getEmployeeList2" ng-selected="editFieldVisit.level" value="{{editFieldVisit.level}}">{{editFieldVisit.level}}</option>
                            </select>

                        </div>-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Date Visited</label>:
                            <input ng-model="editFieldVisit.visitedDate" placeholder="Date Visit"  type="text"   ng-calendar format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>:
                            <textarea rows="5" ng-model="editFieldVisit.comment" placeholder="Enter Visitor Description"  draggable="false" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-success" lang="en">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
            </div>
            </form>
        </div>

    </div>
</div>
<!--- fieldVisistReportEdit --->




<div id="createBillGeneration" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Bill Generation</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addBillDetails()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Contractor Name</label>:
                        <select ng-model="billData.reviewPerson" data-style="btn-primary" required>
                            <option value="">Select Contractor</option>
                            <option ng-repeat="contrator in contratorList" value="{{contrator.employeeId}}">{{contrator.name}}</option>
                        </select>
                     <!--   <input  placeholder="Enter Contractor Name"  type="text" ng-model="billData.contractorName" required />-->
                    </div>

                    <div class="form-group col-lg-offset-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label></label>
                        <a class="btn btn-info" ng-click="addRow()">Add Bill Details</a>
                        <a href="{{docUploadURL}}{{appConfig.billReferenceId[0]._id}}" target="_blank" class="btn  btn-primary" data-toggle="tooltip" title="Help"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <table class="table table-bordered theadBg">
                                <thead>
                                    <tr>
                                        <th width="200">Name</th>
                                        <th width="200">Description</th>
                                        <th width="200">Unit</th>
                                        <th width="200">Rate</th>
                                        <th width="200">Measurement</th>
                                        <th width="200">Approved Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rowContent in billData.rows">
                                    <td>
                                        <input  placeholder="Enter Name" type="text" ng-model="rowContent.name" required/>
                                    </td>
                                    <td>
                                        <textarea placeholder="Enter Description" type="text" ng-model="rowContent.billDescription" />
                                    </td>
                                    <td>
                                        <select ng-model="rowContent.billUnits" data-style="btn-primary" required>
                                            <option value="">Select Units</option>
                                            <option value="meterCubes">m<sup>3</sup></option>
                                            <option value="kiloMeter">KM</option>
                                        </select>
                                        <!--<input  placeholder="Enter Rate"  type="text" valid-number ng-model="rowContent.billUnits" required/>-->
                                    </td>
                                    <td>
                                        <input  placeholder="Enter Rate"  type="text" valid-number ng-model="rowContent.billRate"  ng-change="billRate($index)" required/>
                                    </td>
                                    <td>
                                        <input  placeholder="Enter Measurement"  type="text" valid-number  ng-model="rowContent.billMeasurement"  ng-change="billRate($index)" required/>
                                    </td>
                                    <td>
                                        <input  placeholder="Approved Amount"  type="text" valid-number  ng-model="rowContent.billAmount" readonly required/>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" ng-click="removeGroup($index, $event)"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>Total Amount:</td>
                                    <td colspan="2">{{billData.totalAmount}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                  <!--  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Previous Bill Amount</label>:
                        <input  placeholder="Previous Bill Amount" type="text" ng-model="billData.prevBillAmount" disabled readonly required/>
                    </div>-->
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Total Bill Amount</label>:
                        <input  placeholder="Total Amount" type="text" ng-model="billData.totalAmount" readonly required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>:
                        <textarea rows="5" ng-model="billData.comment" placeholder="Enter Comment"  draggable="false" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="editBillGeneration" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Bill Generation Details</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editBillData()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Contractor Name</label>:
                        <select ng-model="editDetails.reviewPerson" data-style="btn-primary" required>
                            <option value="">Select Contractor</option>
                            <option ng-repeat="contrator in contratorList" value="{{contrator.employeeId}}">{{contrator.name}}</option>
                        </select>
                     <!--   <input  placeholder="Enter Contractor Name"  type="text" ng-model="billData.contractorName" required />-->
                    </div>

                    <div class="form-group col-lg-offset-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label></label>
                        <a type="button" class="btn btn-info btn-block" ng-click="addEditRow()">Add Bill Details</a>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <table class="table table-bordered theadBg">
                                <thead>
                                <tr>
                                    <th width="200">Name</th>
                                    <th width="200">Description</th>
                                    <th width="200">Unit</th>
                                    <th width="200">Rate</th>
                                    <th width="200">Measurement</th>
                                    <th width="200">Approved Amount</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rowContent in editDetails.rows">
                                    <td>
                                        <input  placeholder="Enter Particular of Work or Articles" type="text" ng-model="rowContent.name" required/>
                                    </td>
                                    <td>
                                        <textarea placeholder="Enter Quality/Weight" type="text" ng-model="rowContent.billDescription" />
                                    </td>
                                    <td>
                                        <select ng-model="rowContent.billUnits" data-style="btn-primary" required>
                                            <option value="">Select Units</option>
                                            <option value="meterCubes">m<sup>3</sup></option>
                                            <option value="kiloMeter">KM</option>
                                        </select>
                                        <!--<input  placeholder="Enter Rate"  type="text" valid-number ng-model="rowContent.billUnits" required/>-->
                                    </td>
                                    <td>
                                        <input  placeholder="Enter Unit"  type="text" valid-number ng-model="rowContent.billRate"  ng-change="billEditRate($index)" required/>
                                    </td>
                                    <td>
                                        <input  placeholder="Enter Amount"  type="text" valid-number  ng-model="rowContent.billMeasurement"  ng-change="billEditRate($index)" required/>
                                    </td>
                                    <td>
                                        <input  placeholder="Enter Amount"  type="text" valid-number  ng-model="rowContent.billAmount" readonly required/>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" ng-click="removeGroupEdit($index, $event)"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>Total Amount:</td>
                                    <td colspan="2">{{editDetails.totalAmount}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                 <!--   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Previous Bill Amount</label>:
                        <input  placeholder="Previous Bill Amount" type="text" ng-model="editDetails.prevBillAmount" disabled readonly required/>
                    </div>-->
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Total Bill Amount</label>:
                        <input  placeholder="Previous Bill Amount" type="text" ng-model="editDetails.totalAmount" readonly required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>:
                        <textarea rows="5" ng-model="editDetails.comment" placeholder="Enter Comment"  draggable="false" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve Bill Request</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Total Amount</label>
                        <input type="text" ng-model="billInfo.totalAmount"  readonly required />
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Approval Amount</label>
                        <input type="text"  ng-model="comments.approvedAmount" placeholder="Enter Approval Amount" required></textarea>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                        <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Approve</button>
                <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject FieldVisit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
            <div class="modal-body">
                <div class="row schemForms">

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                        <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Reject</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div id="editBillReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage"> Bill report added successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Plan TOR is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="viewBillDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Bill Generation Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                        <tr>
                            <td class="width120"><b lang="en">Plan Id</b></td>
                            <td class="width20">:</td>
                            <td>{{viewBillDetails.planId}}</td>
                            <td class="width120"><b lang="en">SubTask Name</b></td>
                            <td class="width20">:</td>
                            <td>{{viewBillDetails.subtask}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Bill Id</b></td>
                            <td class="width20">:</td>
                            <td>{{viewBillDetails.billId}}</td>
                            <td class="width120"><b lang="en">Total Amount</b></td>
                            <td class="width20">:</td>
                            <td>{{viewBillDetails.totalAmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <table class="table table-bordered theadBg nopadding">
                                    <thead>
                                        <tr>
                                            <th colspan="6" class="text-center">Bill Details</th>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <th>Units</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                            <th>Measurement</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr data-ng-repeat="rowData in viewBillDetails.rows">
                                            <td>{{rowData.name}}</td>
                                            <td>{{rowData.billUnits}}</td>
                                            <td>{{rowData.billRate}}</td>
                                            <td>{{rowData.billAmount}}</td>
                                            <td>{{rowData.billMeasurement}}</td>
                                            <td>{{rowData.billDescription | limitTo: 20}}{{rowData.billDescription.length > 20 ? '...' : ''}}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Review Person</b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{viewBillDetails.reviewPersonName}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Comment</b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{viewBillDetails.comment}}</td>
                        <!--</tr>-->
                        <tr>
                            <td class="width120"><b lang="en">Created Person</b></td>
                            <td class="width20">:</td>
                            <td>{{viewBillDetails.createdPerson}}</td>
                            <td class="width120"><b lang="en">Created Time</b></td>
                            <td class="width20">:</td>
                            <td>{{viewBillDetails.createdTime | date: "dd-MM-yyyy hh:mm:ss a"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <!--<button type="button" class="btn btn-success" lang="en">Ok</button>-->
                <button type="button" class="btn btn-success" ng-click="editBillGeneration(viewBillDetails)" lang="en">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>