<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Department Wise Budgets</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Department Wise Budgets</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#budgetPalnExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <a href="#/departmentWiseBudgets" class="btn btn-success pull-right"><span lang="en">Create Department Wise Budgets</span></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="budgetPalnExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <div class=" m-top20 m-btm20 ">
                <div class="table-responsive projectInner">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                        <thead>
                        <tr>
                            <th lang="en">Visitor Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--     {{filedVisitList}}-->

                        <tr ng-repeat="budget in budgetDetails" >
                            <td colspan="4">
                                <table class="table nopadding">
                                    <tr>
                                        <td class="width120"><b lang="en">ULB</b>: <br />{{budget.ulbName}}</td>
                                        <td class="width120"><b lang="en">Department Name</b>: <br />{{budget.department}}</td>
                                        <td class="width120"><b lang="en">Financial Year</b>: <br />{{budget.financialYear}}</td>
                                        <td class="width120"><b lang="en">Budget Amount</b>: <br />{{budget.totalBudget}}</td>
                                        <td class="width120"><b lang="en">Final Status</b>: <br />{{budget.finalStatus}}</td>
                                        <td class="width120"><b lang="en">Approved Budget</b>: <br />{{budget.approvedBudget}}</td>
                                            <td><a class="btn btn-primary" ng-click="budgetDetailsList(budget.id)">
                                            <span class="glyphicon glyphicon-th-large"></span>
                                        </a></td>
                                         <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                            <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                <span class="glyphicon glyphicon-eye-open"></span></button>
                                        </td>

                                        <td class="width20">
                                            <button type="button" data-toggle="tooltip" title="Approve"  ng-if="budget.approveFiledVisit" ng-click="approvalModal(budget)" class="btn btn-success" >
                                                <span class="glyphicon glyphicon-ok"  ></span>
                                            </button>
                                        </td>
                                        <td class="width20">
                                            <button type="button" ng-if="budget.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(budget)"class="btn btn-danger" >
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                        <td class="width20">
                                            <a type="button" data-toggle="tooltip" title="Edit" href="#/editBudgetDetails/{{budget.id}}" class="btn btn-primary" >
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="demo-{{$index}}">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th lang="en">Workflow Id</th>
                                                        <th lang="en">Workflow Level</th>
                                                        <th lang="en">Level No</th>
                                                        <th lang="en">Status</th>
                                                        <th lang="en">Approved Amount</th>
                                                        <th lang="en">Approval Person</th>
                                                        <th lang="en">Date</th>
                                                        <th lang="en">Comment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="workflow in budget.workflow">
                                                        <td>{{workflow.workflowId}} </td>
                                                        <td>{{workflow.levelId}}  </td>
                                                        <td>{{workflow.levelNo}}  </td>
                                                        <td>{{workflow.approvalStatus}}  </td>
                                                        <td>{{workflow.approvedBudget}}  </td>
                                                        <td>{{workflow.employeeId}}  </td>
                                                        <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                        <td>{{workflow.comment}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

         <!--   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" >
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns"	class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Budget Id</th>
                            <th lang="en">Budget Amount</th>
                            <th lang="en">Department Name</th>
                            <th lang="en">Financial Year</th>
                            <th lang="en">Details</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="budget in budgetDetails1">
                            <td>{{budget.id}}</td>
                            <td>{{budget.totalBudget}}</td>
                            <td>{{budget.department}}</td>
                            <td>{{budget.financialYear}}</td>
                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="budgetDetailsList(budget.id)">
                                <span class="glyphicon glyphicon-th-large"></span>
                            </a></td>
                            <td>
                               <button type="button" class="btn btn-success" ng-if="budget.approveFiledVisit" data-toggle="modal" data-target="#editBudgetPlans" ng-click="editBudget(budget)">
                                    <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Approve" ></span>
                                </button>
                                <button type="button" class="btn btn-danger" ng-if="budget.approveFiledVisit" data-toggle="modal" data-target="#rejectBudgetPlans" ng-click="editBudget(budget)">
                                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Reject"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

-->
            <!-- Modal -->
            <div class="modal fade" id="approvalBudget" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" lang="en">Edit Department Wise Budgets</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-submit="editBudgetDetails()">
                                <form role="form" name="myform">
                                    <div class="modal-body border-style12">
                                        <div class="row schemForms">
                                            <div class="col-lg-12">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Budget Amount: </label>
                                                    <input type="text" class="form-control" ng-model="updateBudgetDetails.totalBudget" readonly/>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">

                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Approved Budget:</label>
                                                    <input type="text" class="form-control" valid-number ng-model="updateBudgetDetails.approvedBudget" required/>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <textarea rows="5" ng-model="updateBudgetDetails.comment" placeholder="Enter your comment" required></textarea>
                                                </div>
                                            <!--<div class="col-lg-12">-->
                                                <!--<div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 form-group">-->
                                                    <!--<label><span class="color-red f-bold f-left">*</span>Approved Budget:</label>-->
                                                    <!--<input type="text" class="form-control" ng-model="updateBudgetDetails.approvedBudget"/>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 form-group" ng-show="onBudget">-->
                                                    <!--<label><span class="color-red f-bold f-left">*</span>Approved Date:</label>-->
                                                    <!--<input ng-model="updateBudgetDetails.approvedDate" placeholder="Select Date" type="text" ng-calendar format="%d-%m-%Y" />-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 form-group" ng-show="onBudget">-->
                                                    <!--<label><span class="color-red f-bold f-left">*</span>Approved By:</label>-->
                                                    <!--<select ng-model="updateBudgetDetails.approvedBy" data-style="btn-primary">-->
                                                        <!--<option value="">Select Employee</option>-->
                                                        <!--<option ng-repeat="empList in employeesListName" value="{{empList.name}}">{{empList.name}}</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        </div>
                                        <div class="col-lg-12 txt-centr">
                                            <button type="submit" class="btn btn-success" lang="en">Submit</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div id="rejectBudgetPlans" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" lang="en">Reject Budget Amount</h4>
                        </div>
                        <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                            <div class="modal-body">
                                <div class="row schemForms">

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                                        <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" lang="en">Reject</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="modal fade" id="rejectBudgetPlans" role="dialog">
                <div class="modal-dialog">

                    &lt;!&ndash; Modal content&ndash;&gt;
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" lang="en">Edit Department Wise Budgets</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-submit="editBudgetDetails(updateBudgetDetails, 'reject')">
                                <form role="form" name="myform">
                                    <div class="modal-body border-style12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                               Are you sure, you want to <span class="color-theme">reject</span> the budget plan?
                                            </div>
                                        </div>
                                        <div class="col-lg-12 txt-centr">
                                            <button type="submit" class="btn btn-success">Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>-->

        </div>

            <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-controller="departmentWiseBudgetsController">
                <div>
                    <form role="form" name="myform" ng-click="budgetChange()">
                        <div class="modal-body border-style12">
                            <div class="row schemForms">
                                <div class="col-lg-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                        <label><span class="color-red f-bold f-left">*</span>Budget Amount:</label>
                                        <input type="text" class="form-control" ng-model="departmentWiseBudget.budgetAmount" readonly/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                        <label><span class="color-red f-bold f-left">*</span>Approved Status:</label>
                                        <select ng-change="budgetChange(departmentWiseBudget.approvedStatus)" ng-model="departmentWiseBudget.approvedStatus">
                                            <option value="Approved">Approved</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 form-group" ng-show="onBudget">
                                        <label><span class="color-red f-bold f-left">*</span>Approved Budget:</label>
                                        <input type="text" class="form-control" ng-model="departmentWiseBudget.approvedBudget"/>
                                    </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 form-group" ng-show="onBudget">
                                        <label><span class="color-red f-bold f-left">*</span>Approved Date:</label>
                                        <input ng-model="departmentWiseBudget.approvedDate" placeholder="Select Date" type="text" ng-calendar format="%d-%m-%Y" />
                                    </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 form-group" ng-show="onBudget">
                                        <label><span class="color-red f-bold f-left">*</span>Approved By:</label>
                                        <select ng-model="departmentWiseBudget.approvedBy" data-style="btn-primary">
                                            <option value="">Select Employee</option>
                                            <option ng-repeat="empList in employeesListName" value="{{empList.name}}">{{empList.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 txt-centr">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>-->


        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Plan Details</h4>
            </div>
            <div class="modal-body">

                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td colspan="3">
                        <table datatable="ng" dt-options="dtOptions1" dt-columns="dtColumns"  class="table table-bordered nopadding">
                            <thead>
                                <th>Plan Id</th>
                                <th>Plan Name</th>
                                <th>estimationCost</th>
                            </thead>
                            <tbody>
                            <tr  data-ng-repeat="planDetails in editBudgetInfo.planData" ng-init="setTotals(planDetails)">
                                <td>{{planDetails.planId}}</td>
                                <td>{{planDetails.name}}</td>
                                <td>{{planDetails.estimationCost}}</td>
                            </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="width160">Total Esimated Cost</td>
                        <td class="width20">:</td>
                        <td>{{estimatedCostTotal}}</td>
                    </tr>
                    <tr>
                        <td class="width160"><b>Total Budget</b></td>
                        <td class="width20">:</td>
                        <td>{{editBudgetInfo.totalBudget}}</td>
                    </tr>
                    <!--<tr>
                        <td><b>Utilized Cost</b></td>
                        <td>:</td>
                        <td>{{editBudgetInfo.utilizedCost}}</td>
                    </tr>
                    <tr>
                        <td><b>Estimation Cost</b></td>
                        <td>:</td>
                        <td>{{editBudgetInfo.estimationCost}}</td>
                    </tr>-->
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>