<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Departments</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class=" legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Case Departments</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.caseDepartmentsedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="caseDepartmentClick()" lang="en">Create Case Department
                            </button>

                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#caseDepartment')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="caseDepartment" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="name" custom-sort order="'name'" sort="sort" lang="en">Case Department Name &nbsp;</th>
                        <th class="headQuarter" custom-sort order="'headQuarter'" sort="sort" lang="en">Case Department HeadQuarter &nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.caseDepartmentsedit" lang="en">Action&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="caseDepartmentInfo in caseDepartmentData track by $index">
                        <td class="text-capitalize">{{caseDepartmentInfo.name}}</td>
                        <td>{{caseDepartmentInfo.headQuarter}}</td>
                        <td ng-if="roleLogin.caseDepartmentsedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#caseDepartmentEdit" ng-click="editCaseDepartmentPopup(caseDepartmentInfo)"> <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>




<div class="modal fade" id="createCaseDepartmentModal" data-backdrop="static" data-keyboard="false" case="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Case Department</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="caseCreationError">{{createCaseDepartementError}}</div>
                    <form class="simple-form" ng-submit="createCaseDepartment(caseDepartment)">

                        <!--<div class="form-group" align="left">-->
                        <!--<label for="caseNumber"><span-->
                        <!--class="color-red f-bold f-left">*</span>CaseNumber:</label>-->
                        <!--<input type="caseNumber" class="form-control"-->
                        <!--id="caseNumber" ng-model="case.caseNumber"-->
                        <!--placeholder="Enter Case Number" minlength="3" maxlength="20"-->
                        <!--title="Enter CaseNumber"-->
                        <!--data-toggle="tooltip" data-placement="top"-->
                        <!--autocomplete="off" required />-->
                        <!--</div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="name" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Case Department Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name" ng-model="caseDepartment.name"
                                   placeholder="Enter Case Department Name"  maxlength="50"
                                   title="Enter Case Department Name" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="headQuarter" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Case Department HeadQuarter</span>:</label>
                            <input type="text" class="form-control"
                                   id="headQuarter" ng-model="caseDepartment.headQuarter"
                                   placeholder="Enter Case Department HeadQuarter"
                                   title="Enter Case Department HeadQuarter" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"  />
                        </div>

                        <input id="saveCaseDepartment" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="caseDepartmentEdit" data-backdrop="static" data-keyboard="false" case="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Case Department</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="caseDepartmentUpdationError">{{updateCaseDepartmentError}}</div>
                    <form class="simple-form" ng-submit="editCaseDepartments()">

                        <!--<div class="form-group" align="left">-->
                        <!--<label for="caseNumber"><span-->
                        <!--class="color-red f-bold f-left">*</span>CaseNumber:</label>-->
                        <!--<input type="caseNumber" class="form-control"-->
                        <!--id="caseNumber1"-->
                        <!--ng-model="updateCaseType.caseNumber"-->
                        <!--placeholder="Enter CaseNumber"-->
                        <!--title="Enter CaseNumber" minlength="3" maxlength="20"-->
                        <!--data-toggle="tooltip" data-placement="top"-->
                        <!--autocomplete="off" required />-->
                        <!--</div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="name" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Case Department Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name1"
                                   ng-model="updateCaseDepartments.name"
                                   placeholder=" Enter Case Department name"  maxlength="50"
                                   title="Enter Case Department Name" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" disabled required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="headQuarter" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Case Department HeadQuarter</span>:</label>
                            <input type="text" class="form-control"
                                   id="headQuarter1"
                                   ng-model="updateCaseDepartments.headQuarter"
                                   placeholder="Enter Case Department HeadQuarter"
                                   title="Enter Case Department HeadQuarter"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"  />
                        </div>
                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>