<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                <li class="breadcrumb-item">Legal Management</li>
                <li class="breadcrumb-item">Case Management</li>
                <li class="breadcrumb-item">Create Case</li>
                <li class="breadcrumb-item active">Case Details</li>
            </ol>
        </div>
    </div>
</div>
<div class="adminContent">
    <div class="">

        <div class="row">
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Case Details</div>
                    </div>

                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
                <a href="#/case" class="backbtnArea pull-right">
                    <div class="" id="content">
                        <div class="aside arrow">
                            <span class="glyphicon glyphicon-chevron-left"> </span>
                            <span class="backbtn">Go Back</span>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms text-center">
                    <select ng-change="selectareas(caseNumber)" ng-model="caseNumber">
                        <option value="">---select Case Number---</option>
                        <option ng-repeat="caseNumb in caseList" value="{{caseNumb.caseNumber}}">{{caseNumb.caseNumber}}</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseDetails">


                    <div class=" m-top20 m-btm20 ">
                        <div class="projectTile">Case Details</div>

                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b>Case Number</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.caseNumber}}</td>

                                <td class="width160"><b>Case Type</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.caseType}}</td>
                            </tr>

                            <tr>
                                <td class="width160"><b>Advocate</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.advocate}}</td>

                                <td class="width160"><b>Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.status}}</td>
                            </tr>
                            <tr>
                                <td class="width160"><b>Priority</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.priority}}</td>

                                <td class="width160"><b>Act</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.act}}</td>
                            </tr>
                            <tr>
                            <td class="width160"><b>Court Name</b></td>
                            <td class="width20">:</td>
                            <td>{{selectCaseDetails.courtName}}</td>

                                <td class="width160"><b>Case Created Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.createdTime | date:'shortDate'}}</td>




                        </tr>

                            <tr>

                                <td><b>Case Submission Date</b></td>
                                <td>:</td>
                                <td>{{selectCaseDetails.caseDate | date:'shortDate'}}</td>


                            </tr>


                            <tr>
                                <td><b>caseDetails</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectCaseDetails.caseDetails}}</td>
                            </tr>

                        </table>






            <!--File upload and comments -->

            <div class="projectMain m-top20 m-btm20 ">
                <div class="projectTile">Doc Upload Details</div>

                <table class="table table-bordered nopadding">
                    <tr>
                        <!--<th>Header Name</th>-->
                        <!--<th>Name</th>-->
                        <th>Attached Files</th>
                        <th>Comment</th>
                        <!--<th>Edit</th>-->
                    </tr>
                    <tr ng-repeat="document in documentsList">

                        <!--<td>{{document.uploadedPersonName}}</td>-->
                        <td><div ng-repeat="f in document.file">
                            <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>

                            <div>{{f.comment}}</div>
                        </div></td>
                        <td>{{document.comments}}</td>
                        <!--<td>-->
                            <!--<button class="btn btn-primary" ng-click="editUploadFile()"><span class="glyphicon glyphicon-pencil"></span></button>-->
                        <!--</td>-->
                    </tr>
                </table>
            </div>

            <button class="btn btn-success" id="scroll">Add Upload File</button>
            <div class="clearfix visible-lg-block"></div>

            <div id="scroll2" class="schemForms">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="projectMain m-top20 m-btm20 ">
                            <div class="projectTile">Add Upload Files</div>
                            <div class="">

                            <div class="p-all">

                                <form role="form" class="row" name="myform" class="adminContent" ng-submit="caseUploads()">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label><span class="color-red f-bold f-left">*</span>Comment</label>
                                        <textarea rows="5" ng-model="upload.comments" placeholder="Enter Comment"></textarea>
                                    </div>
                                    <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="projectMain p-all">
                                        <label><span class="color-red f-bold f-left">*</span>Upload Files</label>
                                        <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple accept="*">Attach Files</button>
                                        <br>
                                        <br>Upload Files:
                                        <table class="table" >
                                            <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Comment</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="f in docList">
                                                <td> {{f.filename}}</td>
                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                </td>
                                            </tr>

                                            </tbody>



                                        </table>

                                        <span class="progress" ng-show="progress >= 0"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <button type="button" class="btn btn-info">Reset</button>
                                        <button id="cancel" type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---- sub task doc upload -->
            <div class="projectMain m-top20 m-btm20 table-responsive"  style="display: none;">
                <div class="projectTile">Header with Sub Task List</div>
                <div class="table-responsive projectInner">
                    <table datatable="" class="table table-bordered table-striped" id="table2">
                        <thead>
                        <tr>
                            <th style="width: 25%;">Header Name</th>
                            <th>Sub Task Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Header Name</td>
                            <td>
                                <table datatable="" class="table table-bordered table-striped" dt-options="dtOptions">
                                    <thead>
                                    <tr>
                                        <th>Person Name</th>
                                        <th>Doc Files</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Name1</td>
                                        <td>Doc Files</td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#UploadFile">Upload Files</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <!---->
                        </tr>
                        <tr>
                            <td>Header Name</td>
                            <td>
                                <table datatable="" class="table table-bordered table-striped" dt-options="dtOptions">
                                    <thead>
                                    <tr>
                                        <th>Sub Task Name</th>
                                        <th>Doc Files</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>Doc Files</td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#UploadFile">Upload Files</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <!---->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!---- sub task doc upload --->

        </div>
    </div>
</div>
    </div>
</div>
</div>


