<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Reports</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                        <span class="glyphicon glyphicon-hand-right"> </span> Case Reports
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <!--<button class="btn btn-default m-right5" lang="en" ng-show="showAction">-->
                                <!--<span class="glyphicon glyphicon-print"></span> Print-->
                            <!--</button>-->
                            <button class="btn btn-default m-right5 pull-right"  ng-show="court" ng-click="exportToExcelCourt('#courtReport')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                            <button class="btn btn-default m-right5 pull-right" ng-show="case" ng-click="exportToExcelCase('#caseReport')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                            <button class="btn btn-default m-right5 pull-right" ng-show="priority" ng-click="exportToExcelPriority('#priorityReport')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                            <button class="btn btn-default m-right5 pull-right" ng-show="status" ng-click="exportToExcelStatus('#statusReport')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                            <button class="btn btn-default m-right5 pull-right" ng-show="hearing" ng-click="exportToExcelHearing('#hearingReport')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                            <button class="btn btn-default m-right5 pull-right" ng-show="payment" ng-click="exportToExcelPayment('#paymentReport')" lang="en" ng-show="showAction">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <!--<button class="btn btn-success" id="scroll" ng-click="createBillGeneration()" lang="en" ng-show="billGeneration">Add Bill Generation</button>-->
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix visible-block"></div>
            <hr />

            <table id="courtReport" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <table id="caseReport" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <table id="priorityReport" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <table id="statusReport" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <table id="hearingReport" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <table id="paymentReport" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="schemForms text-center">
                    <h5 class="text-left" lang="en">Select Reports to View:</h5>
                    <select ng-change="modeChange(selectedName)" ng-model="selectedName" ng-options="x for x in names">
                        <option lang ="en" value="" disabled>Select Reports to View</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectize-inputt" ng-show="court">
                <div class="schemForms text-center">

                    <h5 class="text-left" lang="en">Select or Search Court Wise Report:</h5>
                    <ui-select ng-change="selectareas(courtName.name)" ng-model="courtName" theme="selectize">
                        <ui-select-match placeholder="Select or Search Court Wise Report">{{courtName.name}}</ui-select-match>
                        <ui-select-choices repeat="court in courtList | filter: $select.search">
                            <span ng-bind-html="court.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectize-inputt" ng-show="case">
                <div class="schemForms text-center">

                    <h5 class="text-left" lang="en">Select or Search Case Type Wise Report:</h5>
                    <ui-select ng-change="selectCaseTypeareas(caseType.caseType)" ng-model="caseType" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Type Wise Report">{{caseType.caseType}}</ui-select-match>
                        <ui-select-choices repeat="caseType in caseTypeList | filter: $select.search">
                            <span ng-bind-html="caseType.caseType | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectize-inputt" ng-show="priority">
                <div class="schemForms text-center">

                    <h5 class="text-left" lang="en">Select or Search Case Priority Wise Report:</h5>
                    <ui-select ng-change="selectCasePriorityareas(priorityy.priority)" ng-model="priorityy" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Priority Wise Report">{{priorityy.priority}}</ui-select-match>
                        <ui-select-choices repeat="prty in casePriorityList | filter: $select.search">
                            <span ng-bind-html="prty.priority | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectize-inputt" ng-show="status">
                <div class="schemForms text-center">

                    <h5 class="text-left" lang="en">Select or Search Case Status Wise Report:</h5>
                    <ui-select ng-change="selectCaseStatusareas(status.field1)" ng-model="status" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Status Wise Report">{{status.field1}}</ui-select-match>
                        <ui-select-choices repeat="caseStatus in caseStatusList | filter: $select.search">
                            <span ng-bind-html="caseStatus.field1 | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectize-inputt" ng-show="hearing">
                <!--<div ng-repeat="data in hearingLists" >This is for testing {{data}}</div>-->
                <div class="schemForms text-center">
                    <h5 class="text-left" lang="en">Select Case Hearing Date Wise Report</h5>
                    <select ng-change="selectCaseHearingareas(hearingDate)" ng-model="hearingDate">
                        <option value="">---select Case Hearing Date Wise Report---</option>
                        <option ng-repeat="caseHearing in hearingLists track by $index" value="{{caseHearing| date:'dd-MM-yyyy'}}">{{caseHearing| date:'dd-MM-yyyy'}}</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectize-inputt" ng-show="payment">
                <div class="schemForms text-center">

                    <h5 class="text-left" lang="en">Select or Search  Advocate Id for Payment Wise Report:</h5>
                    <ui-select ng-change="selectCasePaymentareas(advPayment.advId)" ng-model="advPayment" theme="selectize">
                        <ui-select-match placeholder="Select or Search  Advocate Id for Payment Wise Report">{{advPayment.name}}-{{advPayment.advId}}</ui-select-match>
                        <ui-select-choices repeat="casepay in casePaymentList | filter: $select.search">
                            <span ng-bind-html="casepay.advId | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseDetails">
                    <div class="projectMain m-top20 m-btm20 " ng-show="court">
                        <div class="projectTile" lang="en">Case Court Wise Details</div>
                        <div class="table-responsive padding25px">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding">
                            <thead>
                            <tr>
                                <th lang="en">Case Id</th>
                                <th lang="en">Case Created Date</th>
                                <th lang="en">Case Type</th>
                                <th lang="en">Priority</th>
                                <th lang="en">Status</th>
                                <th lang="en">Court Name</th>
                                <th lang="en">Advocate Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="selectCase in selectCaseDetails track by $index">
                                <!--<td  >{{selectCaseDetails.caseNumber}}</td>-->
                                <td class="width160">{{selectCase.caseNumber}}</td>
                                <td class="width160">{{selectCase.caseDate | date:'shortDate'}}</td>
                                <td class="width160">{{selectCase.caseType}}</td>
                                <td class="width160">{{selectCase.priority}}</td>
                                <td class="width160">{{selectCase.status}}</td>
                                <td class="width160">{{selectCase.courtName}}</td>
                                <td><span class="spanComma" ng-repeat="courtAdv in selectCase.advocate">{{courtAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td class="width160">{{selectCase.advocate}}</td>-->

                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--casetype wise report-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseTypeDetails">
                    <div class="projectMain m-top20 m-btm20" ng-show="case">
                        <div class="projectTile" lang="en">Case Type Wise Details</div>
                        <div class="table-responsive padding25px">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding">
                            <thead>
                            <tr>
                                <th lang="en">Case Id</th>
                                <th lang="en">Case Created date</th>
                                <th lang="en">Case Type</th>
                                <th lang="en">Priority</th>
                                <th lang="en">Status</th>
                                <th lang="en">Court Name</th>
                                <th lang="en">Advocate Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="selectCaseType in selectCaseTypeDetails track by $index">

                                <td class="width160">{{selectCaseType.caseNumber}}</td>
                                <td class="width160">{{selectCaseType.caseDate | date:'shortDate'}}</td>
                                <td class="width160">{{selectCaseType.caseType}}</td>
                                <td class="width160">{{selectCaseType.priority}}</td>
                                <td class="width160">{{selectCaseType.status}}</td>
                                <td class="width160">{{selectCaseType.courtName}}</td>
                                <td><span class="spanComma" ng-repeat="typeAdv in selectCaseType.advocate">{{typeAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td class="width160">{{selectCaseType.advocate}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------Priority wise reports-------------------------------------------------------------->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCasePriorityDetails">
                    <div class="projectMain m-top20 m-btm20" ng-show="priority">
                        <div class="projectTile" lang="en">Case Priority Wise Details</div>
                        <div class="table-responsive padding25px">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding">
                            <thead>
                            <tr>
                                <th lang="en">Case Id</th>
                                <th lang="en">Case Created date</th>
                                <th lang="en">Case Type</th>
                                <th lang="en">Priority</th>
                                <th lang="en">Status</th>
                                <th lang="en">Court Name</th>
                                <th lang="en">Advocate Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="selectCasePriority in selectCasePriorityDetails track by $index">

                                <td class="width160">{{selectCasePriority.caseNumber}}</td>
                                <td class="width160">{{selectCasePriority.caseDate | date:'shortDate'}}</td>
                                <td class="width160">{{selectCasePriority.caseType}}</td>
                                <td class="width160">{{selectCasePriority.priority}}</td>
                                <td class="width160">{{selectCasePriority.status}}</td>
                                <td class="width160">{{selectCasePriority.courtName}}</td>
                                <td><span class="spanComma" ng-repeat="priorityAdv in selectCasePriority.advocate">{{priorityAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td class="width160">{{selectCasePriority.advocate}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------Priority wise reports------------------------------------------------------------------------>
            <!-------------------------Status wise reports------------------------------------------------------------------------>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseStatusDetails">
                    <div class="projectMain m-top20 m-btm20 " ng-show="status">
                        <div class="projectTile" lang="en">Case Status Wise Details</div>
                        <div class="table-responsive padding25px">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding">
                            <thead>
                            <tr>

                                <th lang="en">Case Id</th>
                                <th lang="en">Case Created Date</th>
                                <th lang="en">Case Type</th>
                                <th lang="en">Priority</th>
                                <th lang="en">Status</th>
                                <th lang="en">Court Name</th>
                                <th lang="en">Advocate Name</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="selectCaseStatus in selectCaseStatusDetails track by $index">

                                <td class="width160">{{selectCaseStatus.caseNumber}}</td>
                                <td class="width160">{{selectCaseStatus.caseDate | date:'shortDate'}}</td>
                                <td class="width160">{{selectCaseStatus.caseType}}</td>
                                <td class="width160">{{selectCaseStatus.priority}}</td>
                                <td class="width160">{{selectCaseStatus.status}}</td>
                                <td class="width160">{{selectCaseStatus.courtName}}</td>
                                <td><span class="spanComma" ng-repeat="statusAdv in selectCaseStatus.advocate">{{statusAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td class="width160">{{selectCaseStatus.advocate}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------Status wise reports------------------------------------------------------------------------>
            <!-------------------------Hearing Date wise reports------------------------------------------------------------------------>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseHearingDetails">
                    <div class="projectMain m-top20 m-btm20 " ng-show="hearing">
                        <div class="projectTile" lang="en">Case Hearing Date Wise Details</div>
                        <div class="table-responsive padding25px">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding">
                            <thead>
                            <tr>

                                <th lang="en">Case Number</th>
                                <th lang="en">Advocate Name</th>
                                <th lang="en">Hearing Date</th>
                                <th lang="en">Status</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="selectCasehearing in selectCaseHearingDetails track by $index">

                                <td class="width160">{{selectCasehearing.caseNumber}}</td>
                                <td><span class="spanComma" ng-repeat="hearingAdv in selectCasehearing.advocateName">{{hearingAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td class="width160">{{selectCasehearing.advocateName}}</td>-->
                                <td class="width160">{{selectCasehearing.dateHearing | date:'dd-MM-yyyy'}}</td>
                                <td class="width160">{{selectCasehearing.status}}</td>

                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------Hearing Date wise reports------------------------------------------------------------------------>
            <!-------------------------Payments Made to Legal Adviser reports------------------------------------------------------------------------>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCasePaymentDetails">
                    <div class="projectMain m-top20 m-btm20 " ng-show="payment">
                        <div class="projectTile" lang="en">Case Payment Wise Details</div>
                        <div class="table-responsive padding25px">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding">
                            <thead>
                            <tr>
                                <th lang="en">Case Id</th>
                                <th lang="en">Advocate Name</th>
                                <th lang="en">Amount Paid</th>
                                <th lang="en">Mode of Payment</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="selectPayments in selectCasePaymentDetails track by $index">

                                <td class="width160">{{selectPayments.caseNumber}}</td>
                                <!--<td><span class="spanComma" ng-repeat="paymentAdv in selectPayments.advocateName">{{paymentAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>-->

                                <td class="width160">{{selectPayments.advocateName}}</td>
                                <td class="width160">{{selectPayments.amount}}</td>
                                <td class="width160">{{selectPayments.mode}}</td>

                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------Payments Made to Legal Adviser reports------------------------------------------------------------------------>

        </div>
    </div>
</div>
