<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Workflow Setup</span></li>
                <li class="breadcrumb-item active"><span lang="en">Assign Employees</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Workflow Employee List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addWorkFlowLevelModal()" lang="en">Add Workflow Employee</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#workflowEmpExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="workflowEmpExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr >
                            <th lang="en">Workflow Id</th>
                            <th lang="en">Level Id</th>
                            <th lang="en">Employee Id</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workflowEEmployee in workflowEmployeeList track by $index">
                            <td>{{workflowEEmployee.workflowId}}</td>
                            <td>{{workflowEEmployee.levelId}}</td>

                            <td>
                                <span class="spanComma" ng-repeat="emp in workflowEEmployee.employeeData track by $index">{{emp}}
                                    <span class="lastComma">,&nbsp;
                                    </span>
                                </span>
                            </td>

                            <td>{{workflowEEmployee.status}}</td>
                            <td>
                                    <button class="btn btn-primary" ng-click="editWorkflowEmployeeModal(workflowEEmployee)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addWorkFlowLevel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Workflow Employee</h4>
            </div>
            <form role="form" name="myform" ng-submit="addWorkflowEmployee()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div ng-show="workflowEmpEditError" class="color-red f-bold f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">{{workflowEmpEditErrorMessage}}</div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Workflow Id</label>
                            <select ng-change="levelId(workflowEmployee.workflowId)"  ng-model="workflowEmployee.workflowId" data-style="btn-primary" required>
                                <option value="">Select Workflow</option>
                                <option ng-repeat="workflow in workflowList"  value="{{workflow.workflowId}}">{{workflow.workflowId}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Level:</label>
                            <select ng-model="workflowEmployee.levelId"   data-style="btn-primary" required>
                                <option value=""><span class="color-red f-bold f-left">*</span>Select Level</option>
                                <option ng-repeat="level in levelList"  value="{{level.levelId}}">{{level.levelId}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="workflowEmployee.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Employee List:</label>
                            <div ng-dropdown-multiselect="" search-filter="customFilter" options="employeeData"  selected-model="somdata" extra-settings="example15settings"></div>
                            <pre>List: <span class="spanComma" ng-repeat="bet in somdata">{{bet.id}}<span class="lastComma">,</span></span></pre>
                        </div>
                      <!--  <div ng-dropdown-multiselect="" options="employeeData" selected-model="workflowEmployee.employees" checkboxes="true" extra-settings="example14settings"></div>
                       <pre>Selected Model: {{employeeData}} | json</pre>-->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editWorkflowEmployee" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Workflow Employee</h4>
            </div>
            <form role="form" name="myform1" ng-submit="editWorkflowLevelButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div ng-show="workflowEmpEditError" class="color-red f-bold f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">{{workflowEmpEditErrorMessage}}</div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Workflow Id : <b>{{editworkFlowEmp.workflowId}}</b></label>
                            <!--<select  readonly data-style="btn-primary">-->
                                <!--<option value="">Select Workflow</option>-->
                                <!--<option ng-repeat="workflow in workflowList track by $index" ng-selected="editworkFlowEmp.workflowId == workflow.workflowId" value="{{workflow.workflowId}}">{{workflow.workflowId}}</option>-->
                            <!--</select>-->
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Level: <b>{{editworkFlowEmp.levelId}}</b></label>
                            <!--<select ng-model="editworkFlowEmp.levelId" data-style="btn-primary">-->
                                <!--<option value="">Select Level</option>-->
                                <!--<option ng-repeat="level in workflowLevelList" ng-selected="editworkFlowEmp.levelId == level.levelId" value="{{level.levelId}}">{{level.levelId}}</option>-->
                            <!--</select>-->
                        </div><br>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="editworkFlowEmp.status" data-style="btn-primary" data-placement="Select Plan ID">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Employee List:</label>
                            <div ng-dropdown-multiselect="" search-filter="customFilter" options="employeeData"  selected-model="editSelectedEmployee" extra-settings="example15settings"></div>
                            <pre>List: <span class="spanComma" ng-repeat="bet in editSelectedEmployee">{{bet.id}}<span class="lastComma">,</span></span></pre>
                        </div>
                        <!--  <div ng-dropdown-multiselect="" options="employeeData" selected-model="workflowEmployee.employees" checkboxes="true" extra-settings="example14settings"></div>
                         <pre>Selected Model: {{employeeData}} | json</pre>-->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="addWorkflowSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body  text-center modalSuccess color-green">
                <div class="sMessage">Successfully '<b> {{workflowEmployee.workflowId}}</b>  ' - Workflow Employee is Created.</div>
            </div>
        </div>
    </div>
</div>
<div id="editWorkflowEMPSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully 'Workflow Employee' is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>