<div class="breadcrumbArea" ng-if="showCase">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Notice Comments</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="breadcrumbArea" ng-if="createNotice">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/noticeComments"><span lang="en">Notice Comments</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Create Notice</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a  href="#/noticeComments" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span><span lang="en">Create Notice</span></div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="schemForms" align="left">
                                <div class="text-center color-red f-bold" ng-show="createNoticeError">{{createNoticeMessage}}</div>
                                <form class="simple-form" ng-submit="createNotice()">
                                    <div class="row">

                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                                            <select class="form-control" ng-model="notice.caseNumber" required>
                                                <option value="">---select Case Number---</option>
                                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                                            </select>
                                        </div>

                                        <!--<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">-->

                                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                                            <!--<ui-select ng-model="notice.caseId" theme="selectize">-->
                                                <!--<ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>-->
                                                <!--<ui-select-choices repeat="x in caseNumber | filter: $select.search">-->
                                                    <!--<span ng-bind-html="x.caseNumber | highlight: $select.search"></span>-->
                                                <!--</ui-select-choices>-->
                                            <!--</ui-select>-->
                                        <!--</div>-->

                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label for="name"><span
                                                    class="color-red f-bold f-left">*</span><span lang="en">Notice Number</span>:</label>
                                            <input type="text" class="form-control"
                                                   id="name" ng-model="notice.noticeNumber"
                                                   placeholder="Enter Notice Number" required
                                                   title="Enter Notice Number" data-toggle="tooltip"
                                                   data-placement="top" autocomplete="off"/>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Add Para / Section Wise Comments</span>:</label>
                                            <!--<textarea type="text" rows="5" class="form-control" ng-model="para"></textarea>-->
                                            <button type="button" class="btn btn-success" ng-click="addNewChoice()" lang="en">Add Comment</button>
                                            <br />
                                            <div>
                                                <br />
                                                <fieldset data-ng-repeat="field in choiceSet.choices track by $index">
                                                    <div class="noticeComment">
                                                        <span lang="en">Comment</span> - {{$index+1}}
                                                        <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeChoice($index)">
                                                            <span class="glyphicon glyphicon-minus"></span> <span lang="en">Remove</span>
                                                        </button>
                                                    </div>
                                                    <textarea rows="4" cols="50" ng-model=" choiceSet.choices[$index]"></textarea>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <!--<div style="color: red" ng-repeat="para in notice.comment">{{para}}</div>-->

                                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success" lang="en">Submit</button>
                                            <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                                            <a href="#/noticeComments" type="button" class="btn btn-danger" lang="en">Cancel</a>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

