<div class="adminContent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Forms Upload -> Create Scheme Forms</div>
            <hr />
            <div class="clearfix visible-block"></div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="schemForms" align="left">
                <form class="simple-form" ng-submit="createSchemeForm()">
                    <div class="row">


                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Scheme Name:</label><br>
                            <select class="" ng-model="user.module">
                                <option ng-repeat="x in module" value="{{x.name}}">{{x.name}}</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                            <label for="name"><span class="color-red f-bold f-left">*</span>Form Name:</label>
                            <input type="name" class="form-control"
                                   id="name" ng-model="user.name"
                                   placeholder="Enter Name"
                                   title="Enter Name"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                            <label> <span class="color-red f-bold f-left">*</span>Created Date</label>
                            <!--<input ng-model="hearing.date" placeholder="Select Hearing date" type="text" ng-calendar format="%d-%m-%Y">-->
                            <input type="text" class="form-control" ng-model="user.date" placeholder="Enter  Date" ng-calendar  />
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">
                            <label><span class="color-red f-bold f-left">*</span>Purpose:</label>
                            <textarea type="text" rows="5" class="form-control ng-pristine ng-valid ng-touched" ng-model="user.purpose"></textarea>
                        </div>





                        <!--File Upload-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Upload Files</label>
                            <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Attache Files</button>
                            <br>
                            <br>Upload Files:
                            <table class="table" >
                                <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="f in docList">
                                    <td> {{f.filename}}</td>
                                    <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                    </td>
                                </tr>

                                </tbody>

                            </table>

                            <span class="progress" ng-show="progress >= 0"></span>

                        </div>


                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="btn btn-success">Submit</button>
                            <button class="btn btn-info">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


