<div class="breadcrumbArea" ng-if="showCase">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create New Case</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="breadcrumbArea" ng-if="createCase">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/case"><span lang="en">Create Case</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Create New Case</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a  href="#/case" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="breadcrumbArea" ng-if="editCase">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><a ng-click="clickToView()"><span lang="en">Case Management</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Edit Create Case</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToView()" class="backbtnArea pull-right">
                <div class="" id="content1">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right" > </span> Create New Case</div>
                            <hr />
                            <div class="clearfix visible-block"></div>
                        </div>

                        <div id="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="schemForms" align="left">
                                <div class="text-center color-red f-bold" ng-show="CaseCreationError">{{CaseError}}</div>
                                <form class="simple-form" ng-submit="createCase()">
                                    <div class="row">

                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Type</span>:</label><br>
                                            <select class="" ng-model="user.caseType" required>
                                                <option value="">---Select Case Type---</option>
                                                <option ng-repeat="x in caseTypes" value="{{x.caseType}}">{{x.caseType}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label><br>
                                            <select class="form-control" ng-model="user.courtName" required>
                                                <option value="">---Select Court Name ---</option>
                                                <option ng-repeat="x in courtName" value="{{x.name}}">{{x.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label> <span class="color-red f-bold f-left">*</span><span lang="en">Case Submission Date</span></label>
                                            <input ng-model="user.caseDate" required placeholder="Please Select date" type="text" ng-calendar format="%d-%m-%Y" readonly>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Priority</span>:</label><br>
                                            <select class="form-control" ng-model="user.priority" required>
                                                <option value="">---Select Priority ---</option>
                                                <option ng-repeat="x in priority" value="{{x.priority}}">{{x.priority}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left" >*</span><span lang="en">Status</span>:</label><br>
                                            <select class="form-control" ng-model="user.status" required>
                                                <option value="">---Select Status ---</option>
                                                <option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left" >*</span><span lang="en">Department</span>:</label><br>
                                            <select class="form-control" ng-model="user.department" required>
                                                <option value="">---Select Department ---</option>
                                                <option ng-repeat="x in department" value="{{x.name}}">{{x.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Empanel Group</span>:</label><br>
                                            <select  class="form-control" ng-model="user.empannel" ng-change="getAdvocates(user.empannel)" required>
                                                <option value="">---Select Empanel Group ---</option>
                                                <option ng-repeat="x in empannels" value="{{x.groupName}}">{{x.groupName}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Advocate</span>:</label><br>
                                            <select multiple class="form-control" ng-model="user.advocate" required>
                                                <!--<option value="">---select Advocate ---</option>-->
                                                <option ng-repeat="x in advocates" value="{{x}}">{{x.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Acts</span>:</label><br>
                                            <select multiple class="form-control" ng-model="user.act" required>
                                                <option ng-repeat="x in acts" value="{{x.actNumber}}">{{x.actNumber}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Details</span>:</label>
                                            <textarea type="text" rows="5" class="form-control" ng-model="user.caseDetails" required></textarea>
                                        </div>
                                        <div class=" form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" class="btn btn-success" id="scroll" lang="en">Add Case Related Files</button>
                                            <div class="clearfix visible-lg-block"></div>
                                            <div id="scroll2" class="schemForms schemeMain">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="projectMain m-top20 ">
                                                            <div class="projectTile"><span lang="en">Add Case Related Files</span></div>
                                                            <div class="">
                                                            <div class="row">
                                                            <div class="p-all">
                                                                <!--<form role="form" class="" name="myform" class="adminContent" ng-submit="caseUploads()">-->
                                                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                                                        <textarea rows="5" ng-model="upload.comments" placeholder="Enter Comment" required></textarea>
                                                                    </div>
                                        <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <div class="projectMain p-all">
                                            <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>
                                            <button lang="en" class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,application/pdf'">Attach Files</button>
                                            <br>
                                                <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                            <br><span lang="en">Uploaded Files</span>:
                                                <div class="color-theme1 f-bold" ng-show="fileUploadSuccess">File(s) Uploaded Successfully.</div>
                                            <table class="table" >
                                                <thead>
                                                <tr>
                                                    <th lang="en">File Name</th>
                                                    <th lang="en">Comment</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  ng-repeat="f in docList track by $index">
                                                    <td>  <a target="_blank" href="{{uploadFile}}{{f._id}}">{{f.filename}}</a></td>

                                                    <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                    </td>
                                                    <td class="width20">
                                                        <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile( f._id,$index)"></span>
                                                    </td>
                                                </tr>

                                                </tbody>



                                            </table>

                                            <span class="progress" ng-show="progress >= 0"></span>

                                        </div>
                                        </div>


                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <button lang="en" type="submit" class="btn btn-success" ng-disabled="disable">Submit</button>
                                            <button lang="en" type="button" ng-click="reset()" class="btn btn-info">Reset</button>
                                            <a href="#/case" type="button" class="btn btn-default" lang="en">Cancel</a>
                                        </div>
                                    </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div id="addDepartmentSuccess" class="modal fade" role="dialog">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-body textStyle1">-->

                <!--<h4>Successfully  Case With Case Number'<b> {{selectCaseNumber}}</b> ' -is Created.</h4>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button ng-click="addDepartmentSuccessModal()" class="btn btn-success width120">OK</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->