<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"  lang="en">Home</li>
            </ol>
        </div>
    </div>
</div>
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain  " ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h1 class="text-center color-theme1 adminHome"  lang="en">
                    <br /><br /><div  lang="en">Welcome To </div>
                    <br /><div  lang="en">Dhanbad Municipal Corporation</div><br />Official Portal
                </h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><br />
                <div class="box-info text-center user-profile-2">
                    <div class="header-cover">
                        <img src="images/user-bg-1.jpg" alt="User cover">
                    </div>
                    <div class="user-profile-inner">
                        <h4 class="white"  lang="en">Hello {{userName}}</h4>
                        <img src="images/avatar.png" class="img-circle profile-avatar" width="150px" alt="User avatar">

                        <h5>{{userName}} - {{userInfo.designation}}</h5>

                        <!-- User button -->
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" ng-controller="userProfileController" ng-click="changePasswordModal()" data-toggle="modal"  lang="en">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="changePassword" class="modal fade" role="dialog" ng-controller="userProfileController">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"  lang="en">Change Password</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="changePasswordSubmit()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div ng-show="errorMessagePSW" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 errorMsg text-center">
                            {{passwordError1}} <hr class="m-tb10" />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label  lang="en"><span class="color-red f-bold f-left" >*</span >Current Password:</label>
                            <input type="password" id="password" ng-model="user.password" class="form-control b-radius10"  minlength="6" placeholder="Enter Your current Password" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label  lang="en"><span class="color-red f-bold f-left">*</span>New Password:</label>
                            <input type="password" class="form-control b-radius10" id="pswd" ng-model="user.newPassword" minlength="6" placeholder="New Password" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label  lang="en"><span class="color-red f-bold f-left">*</span>Re-type New Password:</label>
                            <input type="password" class="form-control b-radius10" id="pswd1" ng-model="password"  minlength="6" placeholder="Confirm Password" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <!--<button type="reset" class="btn btn-info">Reset</button>-->
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal"  lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>



<div id="changePasswordSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage"  lang="en">Password Updated Successfully</div>
            </div>
        </div>
    </div>
</div>