<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Judgement Of A Case</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Judgement Of A Case</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme" ng-if="roleLogin.judgementedit">
                            <button id="createHearingDate" type="button" class="btn btn-success pull-right"
                                    ng-click="judgementClick()" lang="en">Create Judgement
                            </button>

                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#judgement')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectName">
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="judgement" ng-show="hideDetails" class="table table-bordered table-striped"></table>
        <div class=" table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort" lang="en">Case Number&nbsp;</th>
                        <th class="advocateName" custom-sort order="'advocateName'" sort="sort" lang="en">Court Name&nbsp;</th>
                        <th class="date" custom-sort order="'date'" sort="sort" lang="en">Judgement Date&nbsp;</th>
                        <th class="status" custom-sort order="'status'" sort="sort" lang="en">Status&nbsp;</th>
                        <th class="status" custom-sort order="'status'" sort="sort" lang="en">Judgement Details</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.judgementedit" lang="en">Action&nbsp;</th>

                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="judgementInfo in judgementData track by $index">
                        <td>{{judgementInfo.caseNumber}}</td>
                        <td>{{judgementInfo.court}}</td>
                        <td>{{judgementInfo.judgementDate | date:'shortDate'}}</td>
                        <td>{{judgementInfo.status}}</td>
                        <td>{{judgementInfo.judgementDetails}}</td>
                        <td ng-if="roleLogin.judgementedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#judgementEdit" ng-click="editJudgementPopup(judgementInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>



</div>
<!-- Modal -->
<div class="modal fade" id="judgementModal" data-backdrop="static" data-keyboard="false" judgement="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" >&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Judgement Of A Case</h4>
            </div>
            <div class="modal-body">
                <div class="row schemForms">
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="judgementError">{{judgementErrorMessage}}</div>
                    <form class="simple-form" ng-submit="createJudgement(judgement)">

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="judgement.caseNumber" required>-->
                                <!--<option value=""> -&#45;&#45;select Case Number -&#45;&#45; </option>-->
                                <!--<option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                            <ui-select ng-model="judgement.caseId" theme="selectize">
                                <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                                <ui-select-choices repeat="x in caseNumber | filter: $select.search">
                                    <span ng-bind-html="x.caseNumber | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!--<div class=" form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="judgement.court" required>-->
                                <!--<option value=""> -&#45;&#45;select Court Name -&#45;&#45; </option>-->
                                <!--<option ng-repeat="x in courtData" value="{{x.name}}">{{x.name}}</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label><br>
                            <ui-select ng-model="judgement.courts" theme="selectize">
                                <ui-select-match placeholder="Select or Search Court Name">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="x in courtData | filter: $select.search">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!--<div class=" form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left" >*</span><span lang="en">Status</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="judgement.status" required>-->
                                <!--<option value="">-&#45;&#45;select Status -&#45;&#45;</option>-->
                                <!--<option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label><br>
                            <ui-select ng-model="judgement.statuses" theme="selectize">
                                <ui-select-match placeholder="Select or Search Status">{{$select.selected.field1}}</ui-select-match>
                                <ui-select-choices repeat="x in status | filter: $select.search">
                                    <span ng-bind-html="x.field1 | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class=" form-groupcol-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span><span lang="en">Judgement Date</span>:</label>
                            <input ng-model="judgement.judgementDate" placeholder="Please Select Judgement Date" type="text" ng-calendar format="%d-%m-%Y" required readonly>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Judgement Details</span>:</label>
                            <textarea type="text" rows="5" class="form-control ng-pristine ng-valid ng-touched" ng-model="judgement.judgementDetails" required></textarea>
                        </div>

                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <button type="submit" class="btn btn-success" lang="en">Submit</button>
                            <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>

                        </div>

                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Edit-->
<div class="modal fade" id="judgementEdit" data-backdrop="static" data-keyboard="false" judgement="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <h4 class="modal-title text-left" lang="en">Edit Judgement Of A Case</h4>
            </div>
            <div class="modal-body">
                <div class="row schemForms">
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="judgementUpdateError">{{judgementUpdateErrorMessage}}</div>
                    <form class="simple-form" ng-submit="editJudgement()">

                        <!--<div class=" form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="updateJudgement.caseNumber" disabled required>-->
                                <!--<option value=""> -&#45;&#45;select Case Number -&#45;&#45; </option>-->
                                <!--<option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                            <ui-select ng-model="updateJudgement.caseId" theme="selectize">
                                <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                                <ui-select-choices repeat="x in caseNumber | filter: $select.search">
                                    <span ng-bind-html="x.caseNumber | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="updateJudgement.court" required>-->
                                <!--<option value=""> -&#45;&#45;select CourtName -&#45;&#45; </option>-->
                                <!--<option ng-repeat="x in courtData" value="{{x.name}}">{{x.name}}</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label><br>
                            <ui-select ng-model="updateJudgement.courts" theme="selectize">
                                <ui-select-match placeholder="Select or Search Court Name">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="x in courtData | filter: $select.search">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!--<div class=" form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left" >*</span><span lang="en">Status</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="updateJudgement.status" required>-->
                                <!--<option value="">-&#45;&#45;select Status -&#45;&#45;</option>-->
                                <!--<option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>-->
                                <!--&lt;!&ndash;<option ng-repeat="x in caseNumber" value="{{x.status}}">{{x.status}}</option>&ndash;&gt;-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label><br>
                            <ui-select ng-model="updateJudgement.statuses" theme="selectize">
                                <ui-select-match placeholder="Select or Search Status">{{$select.selected.field1}}</ui-select-match>
                                <ui-select-choices repeat="x in status | filter: $select.search">
                                    <span ng-bind-html="x.field1 | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span><span lang="en">Judgement Date</span>:</label>
                            <input ng-model="updateJudgement.judgementDate" placeholder="Please Select Judgement Date" type="text" ng-calendar format="%d-%m-%Y" required readonly>
                        </div>


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Judgement Details</span>:</label>
                            <textarea type="text" rows="5" class="form-control ng-pristine ng-valid ng-touched" ng-model="updateJudgement.judgementDetails" required></textarea>
                        </div>

                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <button type="submit" class="btn btn-success" lang="en">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addDepartmentSuccess" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
                <div class="modal-body textStyle1">

                <h4>Successfully  Judgement is Created For Case Number :'<b> {{selectCaseNumber}}</b> '.</h4>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>
                </div>
            </div>

            <div ng-show="caseHide">
                <div class="modal-body textStyle1" >
                <h4>Successfully  Judgement is Updated For Case Number :'<b> {{selectCaseNumb}}</b> '.</h4>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>

                </div>

            </div>
        </div>
    </div>
</div>