<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Language Selection</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Language Selections
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" ng-click="addIme()" lang="en">Add Language Text</button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#languageExport')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>
            <table id="languageExport" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div ng-if="addButton" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">

                    <div class="table-responsive row">
                        <form name="lanaguageData" ng-submit="languageDataButton()">
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table class="table  table-bordered nopadding" id="statusEntryTable">

                                    <thead>
                                        <tr>
                                            <th lang="en">English(<span lang="en">Case Sensitive</span>)</th>
                                            <th lang="en">Hindi</th>
                                            <th lang="en">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="timeDetails in  timeList track by $index">
                                            <td><textarea type="text" ng-model='timeList[$index].english'></textarea></td>
                                            <td><textarea type="text" ng-model='timeList[$index].hindi'> </textarea></td>
                                            <td><button class="btn btn-danger" ng-click="removePerson($index)"><i class="fa fa-close"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-success" ng-disabled="disable" lang="en">Submit</button>
                                <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                                <button class="btn btn-default" ng-click="clickToBack()" lang="en">Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <div class="table-responsive">

                        <table  datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered nopadding" >
                            <thead>
                                <tr>
                                    <th lang="en">English</th>
                                    <th lang="en">Hindi</th>
                                    <th lang="en">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="language in  languageList">
                                    <td>{{language.english}}</td>
                                    <td>{{language.hindi}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="editLanguageModal(language)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>
        </div>

        <div id="editLanguageModel" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" lang="en">Edit Language Text</h4>
                    </div>
                    <form role="form" name="myform" ng-submit="editLanguage()">
                        <div class="row schemForms">
                            <div class="modal-body">

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en">English:</label>
                                    <input type="text" placeholder="Enter Plan Status" class="form-control" ng-model="editData.english" required />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en">Hindi:</label>
                                    <input type="text" placeholder="Enter Plan Status" class="form-control" ng-model="editData.hindi" required />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" lang="en">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                        </div>
                    </form>
                </div>
                    </div>
                </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>