
<!DOCTYPE html>
<html ng-app="myApp">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Yitsol Smart City</title>

  <style>
    .goog-te-banner-frame.skiptranslate {
      display: none !important;
    }
    body {
      top: 0px !important;
    }
  </style>
  <!--Bootstrap Core CSS-->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="css/sb-admin.css" rel="stylesheet" />
  <link href="css/plugins/morris.css" rel="stylesheet" />
  <link href="css/selectize.default.css" rel="stylesheet" />
  <link href="plugins/AdminLTE.css" rel="stylesheet" />
  <link href="plugins/_all-skins.css" rel="stylesheet" />
  <link href="plugins/blue.css" rel="stylesheet" />
  <!--<link rel="stylesheet" href="https://cdn.rawgit.com/codekraft-studio/angular-page-loader/master/dist/angular-page-loader.css">-->

  <link href="dist/ngcalendar.css" rel="stylesheet" />
  <link href="../bower_components/angular-datatables/dist/css/angular-datatables.css" rel="stylesheet" />
  <link href="../bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" rel="stylesheet" />
  <link href="css/mediaQueries.css" rel="stylesheet" rel="stylesheet" />
  <script>
    var userDetails = window.localStorage.getItem('userDetails');
    console.log("userDetails"+ userDetails);
    //    userDetails={
    //      "az":"afzal"
    //    }
    if(userDetails) {
      window.location.href = "/admin#/home";
    }

    function userLogout() {
      window.localStorage.removeItem('userDetails');
      window.location.href = "login.html";
    }
  </script>


  <style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
</style>
</head>

<body ng-cloak>
<page-loader></page-loader>

<section ng-controller="loginController">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
          <div class="loginFormMain">

            <div class="text-center">
              <h2 class="gap2">
                <img src="../images/images.jpg" style="width: 80px; height: 80px;" />
              </h2>
            </div>
             <div class="text-center">
              <h5 class="dmcclr color-theme1">e-Governance Portal - Coimbatore</h5>
              <h3 class="dmcclr">Login</h3>
             </div>
            <div class="LoginForm">
              <div class=" text-center color-red f-bold errorMsg text-center" ng-show="showLoginError">{{loginError}}</div>
              <div class="schemForms">
                <form data-toggle="validator" role="form"  ng-submit="loginSubmit()">
                  <div class="form-group">
                    <label>Email ID:</label>
                    <input type="text" name="username" id="username" ng-model="user.email" tabindex="1" class="form-control red-tooltiptbm" title="Enter Your Email" placeholder="Enter Your Email" value="" data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                    <i class="fa fa-envelope adminLogin-icon" aria-hidden="true"></i>
                  </div>
                  <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" id="password" ng-model="user.password" tabindex="1" class="form-control" placeholder="Enter Your Password" title="Enter Your Password"  data-toggle="tooltip" data-placement="top" required />
                    <i class="fa fa-key adminLogin-icon" aria-hidden="true"></i>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-success text-center text-capitalize"> &nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp; </button>
                  </div>
                  <div class="form-group text-center">
                    <a class="text-decnone f-size18 text-right color-theme text-capitalize cursor-pointer"  data-toggle="modal" data-target="#forgotPassword" >
                      Forgot Password?
                    </a>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div ng-view></div>

<div class="modal fade" id="forgotPassword" user="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" ng-controller="loginController">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forgot Password</h4>
        <h4>{{message}}</h4>
        <h4>{{successMessage}}</h4>
        <!--<h5 class="modal-title" ng-show="notRegisterd">{{notRegisterd}}</h5>
        <h5 class="modal-title" ng-show="sucessData">{{sucessData}}</h5>-->
      </div>
      <form class="simple-form"  ng-submit="forgotPasswordData(email)">
        <div class="modal-body">
          <div>
            <div class=" text-center color-red f-bold" ></div>
            <div class="form-group" align="left">
              <label for="email"> <span class="color-red f-bold f-left">*</span>Email:</label>
              <input type="text" class="form-control" id="email"  ng-model="email" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
              <i class="fa fa-envelope adminLogin-icon" aria-hidden="true"></i>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-success" value="submit"/>
          <button type="button" class="btn btn-info" value="Reset">Reset</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--<div class="modal fade" id="myModal" user="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forgot Password</h4>
      </div>
      <form class="simple-form" ng-submit="forgotPassword(user.email)">
        <div class="modal-body">
          <div>
            <div class=" text-center color-red f-bold" ></div>
              <div class="form-group" align="left">
                <label for="email"> <span class="color-red f-bold f-left">*</span>Email:</label>
                <input type="text" class="form-control" id="email"  ng-model="user.email" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
              </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" value="Submit">Submit</button>
          <button type="button" class="btn btn-info" value="Reset">Reset</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>-->

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

<script src="js/angular.min.js"></script>
<!--  <script src="js/angular-translate.js"></script>-->
<script src="../bower_components/angular-datatables/dist/angular-datatables.min.js"></script>

<script src="js/angular-datatables.bootstrap.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="js/customSelect.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/angular-sanitize.min.js" data-semver="1.4.5"></script>
<script src="dist/ngcalendar.js"></script>
<script src="js/select.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/codekraft-studio/angular-page-loader/master/dist/angular-page-loader.min.js"></script>
<script type="text/javascript" src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<link href="../bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
<script src="../bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.min.js"></script>

<!--File upload JS files start -->
<script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<!--File upload JS files completed -->
<script src="js/bootstrap.min.js"></script>

<script src="js/Schemes.js"></script>
<script src="js/Constants.js"></script>
<script src="js/projectWardWorks.js"></script>
<script src="js/legalManagement.js"></script>
<script src="js/Workflow.js"></script>
<script src="js/landAndAsset.js"></script>
<!--


  <script type="text/javascript"
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
-->

<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  WARNING: Respond.js doesn't work if you view the page via file://
  [if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
<![endif]-->

</body>

</html>
