<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Ministries List</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Ministries List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addministryModal()" lang="en">Add Ministries List</button>
                        <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#miniExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="miniExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th lang="en">Ministry Name</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ministries in ministriesLists">
                            <td class="text-capitalize">{{ministries.name}}</td>
                            <td class="text-capitalize">{{ministries.status}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="editMinistries(ministries)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addMinistries" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Ministries</h4>
            </div>
            <form name="form1" id="form1"  ng-submit="addMinistries()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Ministry Name</span>:</label>
                            <input type="text" placeholder="Enter Ministries Name" class="form-control" ng-model="ministries.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Status</span>:</label>
                            <select ng-model="ministries.status" required>
                                <option value="">--- Select Status ---</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button lang="en" type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button lang="en" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editMinistries" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Ministries</h4>
            </div>
            <form name="form2" id="form2" ng-submit="editMinistriesButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Ministry Name</span>:</label>
                            <input type="text" placeholder="Enter Ministries Name" ng-model="editMinistriesLists.name" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Status</span>:</label>
                            <select ng-model="editMinistriesLists.status" required>
                                <option value="">--- Select Status ---</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button lang="en" type="submit" class="btn btn-success" lang="en">Update</button>
                    <button lang="en" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addMinistriesSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">

                <div class="sMessage">Successfully '<b> {{ministries.name}}</b> ' - is Created.</div>
            </div>
        </div>
    </div>
</div>
<div id="editMinistriesSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <!--<h5 class="errorline"><div>Successfully </div>
                    <div class="text-danger">{{editMinistriesDetailsOld1.name}}</div>
                    <div>to</div>
                    <div>'<b>{{editMinistriesLists.name}}</b>' </div>  is Edited.</h5>-->
                <div class="sMessage">Successfully Ministries is Updated.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="addDeptSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>