<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"> <span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"> <span lang="en">Project/Ward Works  </span></li>
                <li class="breadcrumb-item active"> <span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"> <span lang="en">Project Tasks</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"><img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Tasks
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectTasksExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" id="scroll" ng-click="showAddTasks()" lang="en">Add Task Details</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>

            <table id="projectTasksExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="selectPlanId(projectId)" ng-model="projectId">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="proId in charterList" value="{{proId.projectId}}">{{proId.projectId}} - <b class="pull-right">{{proId.name}}</b></option>
                    </select>
                </div>-->
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId"
                               theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">
                            {{$select.selected.planId}}
                        </ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">


                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->
                            <tr>
                                <td><b lang="en">Estimation Cost</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.estimationCost}}</td>
                                <td><b lang="en">Utilized Cost</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.utilizedCost}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td ><b lang="en"><span>% </span>Complete</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Header Schemes Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Field Visitor Details</div>-->
                        <div class="table-responsive adminContent">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                <!--<thead>
                                <tr>
                                    <th class="width160" lang="en">Header Name</th>
                                    <th class="text-center" lang="en">Scheme Details</th>
                                </tr>
                                </thead>-->
                                <tbody>
                                <tr ng-repeat="task in selectProjectTaskDetails">

                                    <td>
                                        <table datatable="" class="table table-bordered table-striped"
                                               dt-options="dtOptions">
                                            <thead>
                                                <tr>
                                                    <th colspan="20" class="text-uppercase headerBgColor">{{task.name}}</th>
                                                </tr>
                                            </thead>
                                            <thead>
                                            <tr>
                                                <th lang="en">Sub Task Name</th>
                                                <th lang="en">Financial Year</th>
                                                <th lang="en">Start Date</th>
                                                <th lang="en">Duration</th>
                                                <th lang="en">End Date</th>
                                                <th lang="en">Estimation Cost</th>
                                                <th lang="en">Utilized Cost</th>
                                                <th lang="en">Status</th>
                                                <th lang="en">% Complete</th>
                                                <th lang="en">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="subTask in task.taskList">
                                                <td>{{subTask.subTaskName}}</td>
                                                <td>{{subTask.financialYear}}</td>
                                                <td>{{subTask.startDate}}</td>
                                                <td>{{subTask.duration}}</td>
                                                <td>{{subTask.endDate}}</td>
                                                <td>{{subTask.estimatedCost}}</td>
                                                <td>{{subTask.utilizedCost}}</td>
                                                <td>{{subTask.status}}</td>
                                                <td>{{subTask.completePercenatge}}</td>

                                                <td>
                                                    <button class="btn btn-primary" ng-click="editHeaderScheme(task,subTask)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-primary" ng-click="viewHeaderScheme(subTask)">
                                                        <span class="glyphicon glyphicon-th-large"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="clearfix visible-lg-block"></div>

                    <div id="scroll2" class="schemForms headerSchemes">

                        <div class="">

                            <div class="projectMain m-top20 m-btm20 ">
                                <div class="projectTile" lang="en">Add Header Scheme Details</div>
                                <form role="form" name="myform" class="adminContent1 row" ng-submit="createNewTask()">

                                    <div class="form-group  col-lg-4   col-md-4 col-sm-12 col-xs-12">

                                        <div class="errorMsg" ng-show="caseTYpeCreationError">{{createCaseTypeError}}
                                        </div>

                                        <!-- <div  class="errorMsg" ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                             {{errorMessageData}}</div>-->

                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Header Name</label>:


                                        <div class="errorMsg" ng-show="dateCreationError">{{dateError}}</div>

                                        <select ng-model="header.selectedHeader" id="selectHeader">


                                            <option value="">Select Header</option>
                                            <option ng-repeat="header in headerList" value="{{header}}">
                                                {{header.name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                                        <button class="btn btn-primary " type="button" ng-show="addTask"
                                                ng-click="addTaskGroup()" lang="en">Add task
                                        </button>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <accordion close-others="oneAtATime" class="row">
                                            <accordion-group heading="{{group.title}}" ng-repeat="group in groups"
                                                             class="panel panel-primary">
                                                <accordion-heading class="panel-heading">
                                                    {{$index+1}} -
                                                    <button class="btn btn-default" ng-click="addGroup($index, $event)" lang="en">
                                                        Add Another Task
                                                    </button>
                                                    <button class="btn btn-danger"
                                                            ng-click="removeGroup($index, $event)" ng-show="$index">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                    <span class="pull-right clickable"><i
                                                            class="glyphicon glyphicon-chevron-up"></i></span>
                                                </accordion-heading>
                                                <div class="panel-body">
                                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>
                                                            Sub Task Name</label>:
                                                        <input placeholder="Enter Task Name"
                                                               ng-model="group.subTaskName" type="text" required/>
                                                    </div>
                                                    <!--<div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                        <label><span class="color-red f-bold f-left">*</span>Financial Year:</label>
                                                        <input placeholder="Financial Year" ng-model="group.financialYear" type="text" required/>
                                                    </div>-->


                                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Financial
                                                            Year</label>:
                                                        <select ng-model="group.financialYear" required>
                                                            <option value="">Financial Year</option>
                                                            <option>2016-2017</option>
                                                            <option>2017-2018</option>
                                                            <option>2018-2019</option>
                                                            <option>2019-2020</option>
                                                            <option>2021-2022</option>
                                                            <option>2022-2023</option>
                                                            <option>2023-2024</option>
                                                            <option>2024-2025</option>
                                                            <option>2025-2026</option>
                                                            <option>2026-2027</option>
                                                        </select>

                                                    </div>


                                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Start Date</label>:

                                                        <input placeholder="Start Date" type="text" ng-model="group.startDate" ng-calendar format="%d-%m-%Y" required readonly />
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Duration(Days)</label>:
                                                        <input placeholder="Enter Duration" ng-model="group.duration"
                                                               id="taskDuration" valid-number ng-change="getEndDate(group.duration, $index)" type="text"
                                                               required/>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>End Date</label>:
                                                        <input placeholder="End Date" type="text"
                                                               ng-model="group.endDate" format="%d-%m-%Y" readonly/>
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Budget At Estimation</label>:
                                                        <input placeholder="Budget at estimation"
                                                               ng-model="group.estimatedCost" valid-number type="text" validNumber required/>
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6  col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Actual Cost</label>:
                                                        <input placeholder="Actual Cost"
                                                               ng-model="group.utilizedCost" valid-number type="text" validNumber required/>
                                                    </div>
                                                  <!--  <div class="form-group col-lg-4 col-md-4  col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Planed Cost</label>:
                                                        <input placeholder="Planed Cost" valid-number ng-model="group.utilizedCost"
                                                               type="text" required/>
                                                    </div>-->

                                                    <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Header Scheme Description</label>:
                                                        <textarea rows="3" ng-model="group.subTaskComment" placeholder="Enter Header Scheme Description" required></textarea>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">* % </span>Complete</label>:
                                                        <input placeholder="% in Complete" valid-number
                                                               ng-model="group.completePercenatge" type="text" min="0" max="100"
                                                               required/>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                        <label lang="en"><span
                                                                class="color-red f-bold f-left">*</span>Status</label>:
                                                        <select ng-model="group.status" required>
                                                            <option value="">Select Status</option>
                                                            <option value="Active">Active</option>
                                                            <option value="In Active">Inactive</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                        <label lang="en"><span
                                                                class="color-red f-bold f-left">*</span>Resource</label>:
                                                        <select ng-model="group.resourceId" data-style="btn-primary"
                                                                required>
                                                            <option value="">Select Employee</option>
                                                            <option ng-repeat="empList in employeesListName"
                                                                    value="{{empList.id}}">{{empList.name}}
                                                            </option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </accordion-group>
                                            <div class="clearfix visible-block"></div>
                                        </accordion>
                                    </div>
                                    <div ng-show="!addTask" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block text-cenrter">
                                        <button type="submit" class="btn btn-success text-cenrter" lang="en">Submit</button>
                                        <button type="reset" value="reset" class="btn btn-info text-cenrter" lang="en">Reset
                                        </button>
                                        <button id="cancel" type="button" class="btn btn-default text-cenrter" lang="en">Cancel
                                        </button>
                                    </div>


                                </form>
                            </div>
                            <!--   </div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>


<!--- Edit header scheme details --->
<div id="editHeaderSchemeDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Header Scheme Details</h4>
            </div>
            <form role="form" name="myform" class="" ng-submit="submitHeaderSchemeDetails()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Header Name</label>:
                            <input placeholder="Header Name" ng-model="editHeaderSchemeDetails.subTaskName" readonly
                                   ng-readonly="editHeaderSchemeDetails.subTaskName" type="text" disabled required/>
                        </div>
                        <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                             <label lang="en"><span class="color-red f-bold f-left">*</span>Financial Year:</label>
                             <input placeholder="Financial Year" ng-model="editHeaderSchemeDetails.financialYear" type="text" />
                         </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Financial Year</label>:
                            <select ng-model="editHeaderSchemeDetails.financialYear">
                                <option value="">Financial Year</option>
                                <option>2016-2017</option>
                                <option>2017-2018</option>
                                <option>2018-2019</option>
                                <option>2019-2020</option>
                                <option>2021-2022</option>
                                <option>2022-2023</option>
                                <option>2023-2024</option>
                                <option>2024-2025</option>
                                <option>2025-2026</option>
                                <option>2026-2027</option>
                            </select>

                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Start Date</label>:
                            <input placeholder="Start Date" type="text" ng-calendar
                                   ng-model="editHeaderSchemeDetails.startDate" format="%d-%m-%Y" readonly/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>End Date</label>:
                            <input placeholder="End Date" type="text" ng-calendar
                                   ng-model="editHeaderSchemeDetails.endDate" format="%d-%m-%Y" required readonly/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Estimation Cost</label>:
                            <input placeholder="Estimation Cost" valid-number ng-model="editHeaderSchemeDetails.estimatedCost"
                                   type="text" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Utilized Cost</label>:
                            <input placeholder="Utilized Cost" valid-number ng-model="editHeaderSchemeDetails.utilizedCost"
                                   type="text" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span>% </span>Complete</label>:
                            <input placeholder="% Complete" valid-number ng-model="editHeaderSchemeDetails.completePercenatge" min="0" max="100"
                                   type="text" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>:
                            <select ng-model="editHeaderSchemeDetails.status" required>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Header Scheme Description</label>
                            <textarea rows="5" ng-model="editHeaderSchemeDetails.subTaskComment"
                                      placeholder="Enter Header Scheme Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" value="Reset">Reset</button>-->
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>

            </form>
        </div>

    </div>
</div>
<div id="editHeaderSchemeDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Header Scheme Details</h4>
            </div>
            <form role="form" name="myform" class="" ng-submit="submitHeaderSchemeDetails()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Header Name:</label>
                            <input placeholder="Header Name" ng-model="editHeaderSchemeDetails.subTaskName" readonly
                                   ng-readonly="editHeaderSchemeDetails.subTaskName" type="text" disabled required/>
                        </div>
                        <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                             <label lang="en"><span class="color-red f-bold f-left">*</span>Financial Year:</label>
                             <input placeholder="Financial Year" ng-model="editHeaderSchemeDetails.financialYear" type="text" />
                         </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Financial Year:</label>
                            <select ng-model="editHeaderSchemeDetails.financialYear">
                                <option value="">Financial Year</option>
                                <option>2016-2017</option>
                                <option>2017-2018</option>
                                <option>2018-2019</option>
                                <option>2019-2020</option>
                                <option>2021-2022</option>
                                <option>2022-2023</option>
                                <option>2023-2024</option>
                                <option>2024-2025</option>
                                <option>2025-2026</option>
                                <option>2026-2027</option>
                            </select>

                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Start Date:</label>
                            <input placeholder="Start Date" type="text" ng-calendar
                                   ng-model="editHeaderSchemeDetails.startDate" format="%d-%m-%Y" readonly/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>End Date:</label>
                            <input placeholder="End Date" type="text" ng-calendar
                                   ng-model="editHeaderSchemeDetails.endDate" format="%d-%m-%Y" required readonly/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Estimation Cost:</label>
                            <input placeholder="Estimation Cost" valid-number ng-model="editHeaderSchemeDetails.estimatedCost"
                                   type="text" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Utilized Cost:</label>
                            <input placeholder="Utilized Cost" valid-number ng-model="editHeaderSchemeDetails.utilizedCost"
                                   type="text" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>% Complete:</label>
                            <input placeholder="% Complete" valid-number ng-model="editHeaderSchemeDetails.completePercenatge" min="0" max="100"
                                   type="text" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="editHeaderSchemeDetails.status" required>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Header Scheme Description</label>
                            <textarea rows="5" ng-model="editHeaderSchemeDetails.subTaskComment"
                                      placeholder="Enter Header Scheme Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" value="Reset">Reset</button>-->
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>

            </form>
        </div>

    </div>
</div>
<!--- Edit header scheme details --->

<div id="addProjectTaskSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5 lang="en">Successfully Project Task</h5>
                    <!--<h5 class="color-red">{{createTaskDetailsView}}</h5>-->
                    <h4>{{createTaskDetailsView.name}}</h4>
                    <h5>{{createTaskDetailsView.planName}}</h5>
                    <h5>is Created.</h5>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="editProjectTaskSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Project Task is Updated.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<!--- view subtask details -->
<div id="viewSubtaskDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Header Scheme Details</h4>
            </div>

                <div class="modal-body">
                        <table class="table table-bordered table-stripped">
                            <thead>
                                <tr>
                                    <td><b lang="en">SubTask Name</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.subTaskName}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Start Date</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.startDate}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">End Date</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.endDate}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Complete Percenatge</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.completePercenatge}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Financial Year</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.financialYear}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Status</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.status}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Estimated Cost</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.estimatedCost}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Utilized Cost</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.utilizedCost}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Duration</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.duration}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Resource</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.resource}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Resource Id</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.resourceId}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">SubTask Comment</b></td>
                                    <td>:</td>
                                    <td>{{viewSubtaskDetailsList.subTaskComment}}</td>
                                </tr>
                            </thead>
                        </table>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" value="Reset">Reset</button>-->
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>

        </div>

    </div>
</div>
<!--- view subtask details -->