<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                <li class="breadcrumb-item active">Project/Ward Works</li>
                <li class="breadcrumb-item active">Application Requests</li>
                <li class="breadcrumb-item"><a href="#/nocRequests">Requests</a></li>
                <li class="breadcrumb-item active">Request Details</li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/nocRequests" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="viewRequest">

                <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> View Request</div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <td class="text-left width160"><b>Person Name</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.personName}}</td>

                            <td class="text-left width160"><b>Mobile Number</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.mobile}}</td>
                        </tr>
                        <tr>
                            <td class="text-left width160"><b>Email ID</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.email}}</td>

                            <td class="text-left width160"><b>Location</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.location}}</td>
                        </tr>
                        <tr>
                            <td class="text-left width160"><b>City</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.city}}</td>

                            <td class="text-left width160"><b>Area</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.area}}</td>
                        </tr>
                        <tr>
                            <td class="text-left width160"><b>Square Feet </b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.feet}}</td>

                            <td class="text-left width160"><b>Yards</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.yard}}</td>

                        </tr>

                        <tr>

                            <td class="text-left width160"><b>Owner</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.owner}}</td>

                            <td class="text-left width160"><b>Created Time</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{requestLists.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                        </tr>

                        <tr>
                            <td class="text-left width160"><b>Uploaded Files</b></td>
                            <td class="width20">:</td>
                            <td class="text-left" colspan="4">
                                <div ng-repeat="request in requestLists.file">
                                    <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="schemForms">
                    <div class="form-group">
                        <label>Comment:</label>
                        <textarea rows="5" ng-model="requestLists.comment" placeholder="Enter Comment">{{requestLists.comment}}</textarea>
                    </div>
                </div>
                <br />
                <button class="btn btn-success" ng-click="acceptStatus(requestLists)">Approval</button>
                <button class="btn btn-default" ng-click="rejectStatus(requestLists)">Reject</button>
                <a href="#/nocRequests"  class="btn btn-danger" >Cancel</a>
                <!--<button class="btn btn-success btn-lg">Submit</button>-->
            </div>
        </div>
    </div>
</div>