<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Maintenance</span></li>
                <li class="breadcrumb-item active"><span lang="en">Workflow Management</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Workflow Management</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="createWorkFlow()" lang="en">Create Workflow</button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Workflow ID</th>
                            <th lang="en">Type</th>
                            <th lang="en">Department</th>
                            <th lang="en">Description</th>
                            <th lang="en" class="width160">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td lang="en">1</td>
                            <td lang="en">Type</td>
                            <td lang="en">Department</td>
                            <td lang="en">Description</td>
                            <td>
                                <a class="btn btn-primary" data-toggle="modal" data-target="#editWorkflow"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-info" href="#/editWorkflow" lang="en">Levels</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-success" id="scroll" lang="en">Create Level</button>
                <div class="clearfix visible-lg-block"></div>

                <div id="scroll2" class="schemForms headerSchemes">

                <div class="">

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Add Employee Level</div>
                        <form role="form" name="myform" class="adminContent row" ng-submit="createNewTask()">

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Select Workflow ID:</label>
                                <select ng-model="header.selectedHeader">
                                    <option>Select Workflow ID</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                                <button class="btn btn-primary " type="button" ng-show="addTask" ng-click="addTask()" lang="en">Add Employee Level</button>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <accordion close-others="oneAtATime" class="row" >
                                    <accordion-group heading="{{group.title}}" ng-repeat="group in groups" class="panel panel-primary">
                                        <accordion-heading class="panel-heading">
                                            {{ group.title }} ({{group.no}})
                                            <button class="btn btn-default" ng-click="addGroup($index, $event)" lang="en">Add Another Employee</button>
                                            <button class="btn btn-danger" ng-click="removeGroup($index, $event)" ng-show="$index">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                        </accordion-heading>
                                        <div class="panel-body">
                                            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <label lang="en"><span class="color-red f-bold f-left">*</span>Employee Name:</label>
                                                <input placeholder="Enter Employee Name" ng-model="" type="text" />
                                            </div>
                                            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <label lang="en"><span class="color-red f-bold f-left">*</span>Select Level:</label>
                                                <select ng-model="" >
                                                    <option value="">Level - 1</option>
                                                    <option value="">Level - 2</option>
                                                    <option value="">Level - 3</option>
                                                    <option value="">Level - 4</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <label lang="en"><span class="color-red f-bold f-left">*</span>Status:</label>
                                                <select ng-model="group.status" >
                                                    <option value="Active">Active</option>
                                                    <option value="In Active">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </accordion-group>
                                    <div class="clearfix visible-block"></div>
                                </accordion>
                            </div>
                            <div ng-show="!addTask" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block text-cenrter">
                                <button type="submit" class="btn btn-success text-cenrter" lang="en">Submit</button>
                                <button type="button" class="btn btn-info text-cenrter" lang="en">Reset</button>
                                <button id="cancel" type="button" class="btn btn-default text-cenrter" lang="en">Cancel</button>
                            </div>


                        </form>
                    </div>
                    <!--   </div>-->
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="editWorkflow" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Modal Header</h4>
            </div>
            <form role="form" name="myform" class="" ng-submit="editWorkFlow()">
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
            </div>
        </div>

    </div>
</div>