.headersec {
    padding: 10px;
    background-image: url("../images/Tbanner.jpg");
    background-size: cover;
    height: 100px;
}

.logo figure {
    width: 15%;
    float: left;
}

.logo figcaption {
    width: 85%;
    float: left;
    text-transform: uppercase;
}

.head_right {
    text-align: right;
    padding-top: 30px;
}

.head_right select {
    padding: 4px;
    border-radius: 5px;
    font-weight: 600;
}

.menu_list {
    padding: 0px;
    background-color: #043804;
}


.navigations_menu li {
    display: inline-block;
    text-transform: capitalize;
    padding-right: 18px;
    font-size: 16px;
    padding-top: 10px;
}

.navigations_menu li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding: 18px 10px;
    font-family: 'Open Sans', sans-serif;
}

.navigations_menu li a:hover {
    background-color: #fff;
    color: #043804;
}

.navigations_menu li a:active {
    background-color: #fff;
    color: #043804;
}

.login {
    text-align: center;
}

.login button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
    color: #e2a518;
    margin-top: 4px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* background-color: linear-gradient(#18afe7 , #097faa); */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black !important;
    text-align: left;
}

.dropdown-content a {
    color: black !important;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #000 !important
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: #fff;
    border-radius: 5px;
    color: black;
}

.citizen:hover {
    background: #fff;
}

.citizen a {
    padding: 10px 10px !important;
}

.capitalize {
    text-transform: capitalize;
}
.padding0{
    padding: 0px;
}
.mtop20{
    margin-top: 20px;
}
.links_btn{
    /* padding: 10px 40px; */
    border-radius: 2px;
    border: 1px solid #eee;
    background: #eee;
    font-size: 12px;
    width: 95%;
    padding: 10px;
}
.mtop10{
    margin-top: 10px;
}

.color_white{
    color: #fff !important;
}
.mtop21{
    margin-top: 21px;
}
.mtop_mbtm10{
    margin-top:10px;
    margin-bottom: 10px !important;
}

@media (min-width: 768px){
.licenseClass .modal-dialog {
    width: 77% !important;
    margin: 0px;
}
}