/**Css**/
p, div, span, td {
    word-wrap: break-word;
    word-break: break-all;
}
body {
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: rgba(222, 224, 228, 0.35); */
    background: #fff;    
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
#page-wrapper, body { position: relative; }
.color-theme { color: #800000; }
.color-theme1 { color: #006633; }
.color-text1 { color: #3f3f41; }
.color-fff { color: #fff; }
.color-red { color: #f00; }
.d-table { display: table; }
.d-tbcell { display: table-cell; }
.v-middle { vertical-align: middle; }
.full-width { width: 100%; }
.f-left { float: left; }
.listNone { list-style: none; }
.headerTop {
    background: #800000;
    padding: 6px;
}
@font-face {
    font-family: 'Samarkan';
    src:url('../fonts/Font/SAMARN_.TTF') format('truetype');
    font-weight:normal;
    font-style:normal;
}
.samarkan { font-family: 'Samarkan'; }
.imgWidth img { margin: 2px 15px 2px 0; }
.width70 { width: 70px; }
.width20 { width: 20px; }
.width150 { width: 150px; }
.width200 { width: 200px; }
/* .adminContent { padding: 25px; } */
.nopadding {
    padding: 0;
    margin: 0;
}
.p-all { padding: 10px 15px; }
.m-right5 { margin-right: 5px; }
.m-top20 { margin-top: 20px; }
.m-btm20 { margin-bottom: 20px; }
:focus { outline: 0 !important; }
.gap2 {
    margin: 0;
    padding-bottom: 25px;
}
.cursorPointer { cursor: pointer; }
a:hover, a:focus {
    cursor: pointer;
    text-decoration: none !important;
}
.btn, .btn:hover, .btn:focus { border-radius: 0 !important; }
.contentStart { padding: 20px; }
.loginFormMain {
    border: 1px solid #ccc;
    padding: 25px;
    margin-top: 40px;
}
.schemeMain .nav.nav-tabs {
    margin: auto;
    display: table;
}
.schemeMain .nav-tabs>li { margin-bottom: 0; }
.schemeMain .nav-tabs>li.active>a, .schemeMain .nav-tabs>li.active>a:focus, .schemeMain .nav-tabs>li.active>a:hover {
    border: 0;
    background: #ccc;
    color: #fff;
}
.schemeMain .nav-tabs>li>a { border-radius: 0; }
.schemeMain .nav-tabs { border-bottom: 0; }
.schemeSuccess {
    margin: 50px 0;
    text-align: center;
    color: #008000;
    font-size: 24px;
}
.schemeMain td {
    text-align: left !important;
    vertical-align: middle !important;
}
.schemeMain .tab-content {
    border: 1px solid rgba(204, 204, 204, 0.34);
    padding: 15px;
    margin-top: 5px;
    background: #f7f7f7;
    box-shadow: inset 0 0 8px #eaeaea;
}
.width150 { width: 70px; }
.width160 { width: 160px; }
.width120 { width: 120px; }
.width20 { width: 20px; }
body .schemForms input, body .schemForms input, body .loginFormMain input {
    width: 90%;
    margin: auto;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    box-shadow: inset 0 0 2px #ccc;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    height: 34px;
}
.schemForms input, .schemForms select, .schemForms textarea, .loginFormMain input { width: 100%; }
label {
    font-size: 12px;
    font-weight: normal;
}
.schemForms select { padding: 7px; }
.schemForms select, .schemForms textarea {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    padding-left: 10px;
}
.radioBtn {
    width: auto !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    height: 15px !important;
}
.side-nav.nav.navbar-nav li a { padding: 10px 15px; }
.side-nav.nav.navbar-nav li .nav.nav-list li a { padding: 6px 10px 6px 20px; }
.side-nav.nav.navbar-nav li .nav.nav-list li .nav.nav-list li a {padding: 6px 10px 6px 20px;}
.legendStyle a {
    font-size: 16px;
    background: rgba(90, 87, 87, 0.34);
    color: #fff;
    padding: 5px 20px;
}
.side-nav .nav.nav-list a { color: #fff !important; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    text-align: left;
}
.titleAdmin {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.titleAdmin a, .titleAdmin a:hover, .titleAdmin a:focus {
    color: #fff !important;
    font-size: 16px;
    padding: 1px !important;
    background-color: transparent !important;
}
.titleAdmin h5 { color: #fff; }
.nav.nav-list a { padding-left: 30px; }
body .table-responsive input, body .table-responsive select {
    height: 35px;
    padding-left: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    box-shadow: inset 0 0 2px #ccc;
    border: 1px solid #ccc;
}
body .table-responsive select { width: 150px; }
body table.dataTable thead th, body table.dataTable thead td { border-bottom: 0; }
body table.dataTable tfoot th, body table.dataTable tfoot td { border-top: 0; }
body .table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}
body .table-bordered>tbody>tr>td:last-of-type,
.table-bordered>tbody>tr>th:last-of-type,
.table-bordered>tfoot>tr>td:last-of-type,
.table-bordered>tfoot>tr>th:last-of-type,
.table-bordered>thead>tr>td:last-of-type,
.table-bordered>thead>tr>th:last-of-type
{ border-right: 0 !important; }
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal !important;
    background: rgba(116, 17, 7, 0.8);
    color: #fff !important;
    padding: 10px 5px !important;
}
.projectMain { border: 1px solid #ccc; }
.projectTile {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: rgba(34, 34, 34, 0.09);
    color: #d9534f;
    font-size: 12px;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 1.2px;
}
.projectInner { padding: 20px; }
.projectName {
    color: brown;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 5px;
}
table.dataTable tbody th, table.dataTable tbody td { padding: 1px 5px; }
table.dataTable thead th, table.dataTable thead td { padding: 8px 5px; }
.range {
    display: table;
    position: relative;
    height: 34px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    display: table-cell;
    width: 100%;
    background-color: #d2d0d0;
    height: 34px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}
.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}
.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] { outline: none; }
.range.range-primary input[type="range"]::-webkit-slider-thumb {  background-color: rgb(66, 139, 202); }
.range.range-primary input[type="range"]::-moz-slider-thumb { background-color: rgb(66, 139, 202); }
.range.range-primary output { background-color: rgb(66, 139, 202); }
.range.range-primary input[type="range"] { outline-color: rgb(66, 139, 202); }
.range.range-success input[type="range"]::-webkit-slider-thumb { background-color: rgb(92, 184, 92); }
.range.range-success input[type="range"]::-moz-slider-thumb { background-color: rgb(92, 184, 92); }
.range.range-success output { background-color: rgb(92, 184, 92); }
.range.range-success input[type="range"] { outline-color: rgb(92, 184, 92); }
.range.range-info input[type="range"]::-webkit-slider-thumb { background-color: rgb(91, 192, 222); }
.range.range-info input[type="range"]::-moz-slider-thumb { background-color: rgb(91, 192, 222); }
.range.range-info output { background-color: rgb(91, 192, 222); }
.range.range-info input[type="range"] { outline-color: rgb(91, 192, 222); }
.range.range-warning input[type="range"]::-webkit-slider-thumb { background-color: rgb(240, 173, 78); }
.range.range-warning input[type="range"]::-moz-slider-thumb { background-color: rgb(240, 173, 78); }
.range.range-warning output { background-color: rgb(240, 173, 78); }
.range.range-warning input[type="range"] { outline-color: rgb(240, 173, 78); }
.range.range-danger input[type="range"]::-webkit-slider-thumb { background-color: rgb(217, 83, 79); }
.range.range-danger input[type="range"]::-moz-slider-thumb { background-color: rgb(217, 83, 79); }
.range.range-danger output { background-color: rgb(217, 83, 79); }
.range.range-danger input[type="range"] { outline-color: rgb(217, 83, 79); }
#masterData .projectInner { background: #fbfbfb; }
#lodingImage { position: relative; }
#lodingImage img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: block;
    z-index: 9999;
}
.form-group { position: relative; }
body .dhtmlxcalendar_material.dhtmlxcalendar_in_input {
    z-index: 99999 !important;
    background: #f3f3f3;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    -moz-box-shadow: inset 0 0 10px #ccc;
}
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.headerSchemes .panel.panel-primary {
    width: 100%;
    display: table;
}
.headerSchemes .panel-heading {
    width: 100%;
    display: inline-table;
}
body table > td > table .dataTables_wrapper .dataTables_length, body table > td > table .dataTables_filter { display: none !important; }
.m-right5 { margin-right: 5px; }
.custom-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    width: 220px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-select.small { width: 104px; }
.custom-select.medium { width: 164px; }
.custom-select.large { width: 300px; }
.custom-select.xlarge { width: 380px; }
.custom-select > select { display: none !important; }
.custom-select > a.dropdown-toggle {
    border-radius: 0;
    line-height: 28px;
    box-shadow: none;
    background: #ffffff;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    border: 1px solid #aaa;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #888;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
}
.custom-select > a.dropdown-toggle.disabled,
.custom-select > a.dropdown-toggle.disabled:hover {
    cursor: not-allowed;
    color: #aaa;
    background: #eee;
}
.custom-select > a.dropdown-toggle:hover,
.custom-select.open > a.dropdown-toggle { color: #333; }
.custom-select.open > a.dropdown-toggle {
    border-bottom: 0;
    line-height: 29px;
}
.control-group.error .custom-select > a.dropdown-toggle {
    border-color: #f09784;
    color: #d68273;
}
.custom-select > a.dropdown-toggle > span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-select > a.dropdown-toggle > b {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.custom-select > a.dropdown-toggle > b:before {
    content: "\f0d7";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 12px;
    position: relative;
    top: -1px;
    left: 1px;
}
.custom-select.open > a.dropdown-toggle > b:before { content: "\f0d8"; }
.custom-select > .dropdown-menu {
    margin-top: 0;
    border-color: #aaa;
    border-top: 0;
    padding-bottom: 0;
    width: auto;
    min-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 0 4px;
    white-space: nowrap;
}
.custom-select > .dropdown-menu > .custom-select-search > input {
    width: 100%;
    height: 30px;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 20px 4px 5px;
    border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search:after {
    content: "\f002";
    display: inline-block;
    color: #888;
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 10px;
}
.custom-select > .dropdown-menu > ul {
    border-color: #aaa;
    border-top: 0;
    margin: 4px 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;
    padding-right: 14px;
}
.custom-select > .dropdown-menu > ul > li > a {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: block;
    padding: 3px 8px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    cursor: pointer;
    width: 100%;
}
.custom-select > .dropdown-menu > ul > li > a:hover,
.custom-select > .dropdown-menu > ul > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-repeat: repeat-x;
}
.custom-select > .dropdown-menu > ul > li > a:hover { background: #4f99c6; }
.custom-select > .dropdown-menu > ul > li > a:focus { background: #2283c5; }
.custom-select > .dropdown-menu > ul > li.empty-result > em {
    text-align: center;
    padding: 4px 8px;
    display: block;
}
.custom-select > .dropdown-menu > .custom-select-action > button {
    border-radius: 0;
    background-image: none;
}
.addScheme .btn, .addScheme a { font-size: 10px; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { padding: 0.5em 1em; }
.radioBtn {
    width: auto !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    height: 15px !important;
}
.commentMain { border: 1px solid #ccc; }
.commentName {
    background: #ccc;
    color: #fff;
    padding: 8px;
    widht: 100%;
    display: block;
}
.schemeMain .collapse.in { border-top: 0 !important; }
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
.fade.ng-enter.ng-enter-active { opacity:1; }
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
body { overflow-y: scroll; }
a:hover, a:focus {
    cursor: pointer;
    text-decoration: none !important;
}
.color-theme {  color: maroon; }
.btn, .btn:hover, .btn:focus { border-radius: 0 !important; }
:focus { outline: 0 !important; }
#headerStarts .dropdown-menu > li.kopie > a { padding-left:5px; }
#headerStarts .dropdown-menu {
    padding: 0px;
    border: 0;
    border-top: 2px solid maroon;
}
#headerStarts .dropdown-submenu { position:relative; }
#headerStarts .dropdown-submenu>.dropdown-menu {
    top:0;left:100%;
    margin-top:-6px;margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
#headerStarts .dropdown-submenu > a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}
#headerStarts .dropdown-submenu:hover>a:after { border-left-color:#555; }
#headerStarts .dropdown-menu > li > a:hover, #headerStarts .dropdown-menu > .active > a:hover { text-decoration: underline; }
.contentStart { min-height: 500px; }
.contentStart {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    box-shadow: inset 0 0 2px #ccc;
    padding: 25px;
    background: rgba(255, 255, 255, 0.97);
}
body .breadcrumb { background: transparent; }
.schemeMain .nav.nav-tabs {
    margin: auto;
    display: table;
}
.schemeMain .nav-tabs>li { margin-bottom: 0; }
.schemeMain .nav-tabs>li.active>a, .schemeMain .nav-tabs>li.active>a:focus, .schemeMain .nav-tabs>li.active>a:hover {
    border: 0;
    background: #ccc !important;
    color: #fff;
}
.schemeMain .nav-tabs>li>a { border-radius: 0; }
.schemeMain .nav-tabs { border-bottom: 0; }
.schemeSuccess {
    margin: 50px 0;
    text-align: center;
    color: #008000;
    font-size: 24px;
}
.loginForm {
    border: 1px solid rgba(204, 204, 204, 0.38);
    background: rgba(204, 204, 204, 0.13);
    padding-bottom: 25px;
}
.loginForm h3 {
    margin: 0;
    padding: 15px;
    background: rgba(204, 204, 204, 0.25);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
.loginForm input, .schemForms input, .schemForms select, .schemForms textarea {
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 0;
}
.schemForms input, .schemForms select, .schemForms textarea { width: 100% !important; }
.schemForms select {
    height: 34px;
    -webkit-box-shadow: inset 0 0 2px #ccc;
    -moz-box-shadow: inset 0 0 2px #ccc;
    box-shadow: inset 0 0 2px #ccc;
}
.schemeImg img {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}
.width140 { width: 140px; }
label {
    font-size: 12px;
    font-weight: normal;
}
.thStyle {
    font-size: 12px;
    padding: 8px 0;
}
#tabContent1 .panel-heading { padding: 0 !important; }
#tabContent1 .panel-title {
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
.collapseMain h5 {
    background: #ccc;
    padding: 8px;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.collapseMain.collapsed h5 {
    background: rgba(113, 27, 21, 0.74);
    color: #fff;
    border-bottom: 1px solid rgba(113, 27, 21, 0.74);
}
form .progress { line-height: 15px; }
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
legend a { color: inherit; }
fieldset.fsStyle {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    font-weight: normal;
}
legend.legendStyle a, legend.legendStyle a:hover {
    background-color: rgba(39, 35, 35, 0.87);
    font-weight: bold;
    font-size: 14px;
    padding: 10px 25px;
    color: #fff;
    width: 100%;
    display: block;
}
legend {
    width: 100%;
    margin-bottom: 0;
}
.fsStyle .collapse {
    padding: 20px;
    background: #f7f7f7;
}
.schemeDescription p {
    font-size: 12px;
    line-height: 25px;
    word-spacing: 1.5px;
    letter-spacing: .5px;
    text-align: justify;
}
.fsStyle { margin-bottom: 15px; }
.schemeDetails th {
    font-size: 12px;
    padding: 8px;
}
.schemeDetails td {
    font-size: 12px;
    padding: 8px;
    word-spacing: 5px;
    letter-spacing: .5px;
    text-transform: capitalize;
}
.schemeDetails p {
    font-size: 12px;
    word-spacing: 5px;
    letter-spacing: .5px;
    line-height: 25px;
}
.benfRepeat:last-of-type span { display: none; }
.contactInfo { padding: 5px; }
.schemeFormTitle { border: 1px solid #ccc; }
.schemeForm {
    background: #800000;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}
.schemeFormTitle form {
    padding: 20px;
    background: #fff;
}
.type1 { border-bottom: 1px solid #ccc; }
.optArea{
    background: #800000;
    padding: 5px
}
.dropdown-submenu { position: relative; }
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
#dropdown-sub { border-radius:0 !important; }
.dropdown-submenu:hover>.dropdown-menu { display: block; }
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after { border-left-color: #fff; }
.dropdown-submenu.pull-left { float: none; }
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.contactInfo table.contactTable>tbody>tr>td { padding: 5px; }
.contactArea { border-right: 1px solid #eee; }
.contactInfo .contactArea:last-of-type { border-right: 0px; }
.contactAre { min-height: 250px; }
.dropdown-menu .divider { margin: 2px 0; }
/*.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle { z-index:3; }
.navbar-brand>img {
    display: inline-block;
    width: 100px;
    margin-left: 25px;
}
.navbar {
    height: 100px;
    background-image: url('../images/header.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}*/
body .nav>li.active a, body .navbar-default .navbar-nav>.active>a,
body .navbar-default .navbar-nav>.active>a:focus,
body .navbar-default .navbar-nav>.active>a:hover {
    background: transparent !important;
    color: #800000;
}
.dropdown-menu>li>a {
    background: #fff !important;
    color: #000 !important;
    padding: 8px;
    font-size: 12px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: rgba(204, 204, 204, 0.41) !important;
    color: #800000 !important;
}
.schemeMain { position: relative }
#content { width: 70px }
.aside {
    line-height: 25px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.aside:hover { color: #fff; }
.aside.arrow { background-color: #d9534f; }
.aside.arrow:after, .aside.arrow:before { border-width: 12px 0px 13px 17px; }
.aside.arrow:before {
    border-color: #d9534f transparent;
    right: -16px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.aside.arrow:after {
    border-color: transparent #d9534f;
    left: -16px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.aside:before, .aside:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
}
.errorMsg {
    color: #610505;
    border-top: 1px solid #610505;
    border-bottom: 1px solid #610505;
    padding: 5px;
    display: table;
    margin: 0 auto 15px;
    background: #ccc;
    background: rgba(204, 204, 204, 0.2);
    border-radius: 5px;
}
.modal{ text-align: center; }
.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-footer {
    padding: 2px;
    text-align: center;
    border-top: 1px solid #800000;
    background: rgb(243, 243, 243);
}
.modal-header {
    padding: 8px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #800000;
    color: #fff;
}
.modal-header .close {
    color: #fff;
    opacity: 1;
    font-size: 15px;
}
.modal-header h4 { font-size: 14px; }
.modal-content { border-radius: 0; }
.textStyle1 {
    text-align: center;
    border: 4px solid #fff;
    background: #ccc;
    font-size: 16px;
    text-shadow: 0 0 1px rgba(16, 16, 16, 0.55);
    color: #3e6b0b;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
table.dataTable tbody th, table.dataTable tbody td { padding: 8px; }
.nav.nav-pills.nav-stacked {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.example-8 .navbar-brand {
    background: url('../images/images_2.jpg') center / contain no-repeat;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.example-8.navbar-inverse .navbar-nav>li>a {
    color: #403c3c;
    font-size: 14px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff !important;
    background-color: rgb(128, 0, 0);
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { color: #fff !important; }

/*property assessment css*/
.form-control{margin-bottom: 10px !important;}


.nav-list_item > div{
    display: none;
  }

 .login .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
}

.login .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent !important;
}